@charset "UTF-8";
/* Appart Styles */
/*  Default styles index
 *  2019.7.14
 */
/*  base css settings
 *  2019.7.16
 */
:root {
  --line-height: 1.5;
  --row-space: 1rem;
  --col-space: 1.25rem; }

/*  EOF base css settings */
/*  html wrap & base markup
 *  2019.7.14
 */
/* ------------------------------------ minimal box model */
*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  height: 100%; }

html, body {
  margin: 0;
  padding: 0; }

/* ------------------------------------ basic unit & font sizes */
/* Let the browser decide the font size. */
html {
  /*font-size: 16px;*/ }

body {
  /*font-size: 16px;*/
  line-height: var(--line-height, 1.5); }

/* ------------------------------------ improve design & UX */
html {
  cursor: default; }

body {
  overflow-y: scroll; }

/* Single taps are dispatched immediately on clickable elements */
a, area, button, input, label, select, summary, textarea, [tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

/* -------------------- semantic markup without design affect */
figure, figcaption, fieldset, legend {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  white-space: normal; }

main, article, section, aside,
header, footer,
nav, code {
  display: block; }

h1, h2, h3, h4, h5, h6,
p, blockquote {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit; }

/* ---------------------------- images are used as illustrations */
img, svg, canvas {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0; }

/* ------------------------------------ markup defaults */
a {
  color: inherit; }

ul, ol {
  padding: 0;
  margin: 0 0 0 1.5em; }

hr {
  background: transparent;
  box-shadow: none;
  border: 0;
  margin: 0;
  /* use as visual spacer */
  display: block;
  font-size: inherit;
  height: var(--row-space, 1rem); }

td, th {
  text-align: left;
  vertical-align: top;
  padding-top: 0.25em;
  padding-bottom: 0.25em; }

[hidden], .hidden {
  display: none !important; }

/*  EOF html wrap */
/*  All about font-sizes and line-heights
 *  2019.7.16
 */
/* font source
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700&subset=cyrillic');
*/
:root {
  --font-family--main: Vollkorn, et-book, Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  --font-family--data: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-weight--main: 400; }

.main-font-as-native-sans {
  --font-family--main: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; }

body {
  line-height: var(--line-height, 1.5);
  font-family: var(--font-family--main, sans-serif);
  font-weight: var(--font-weight--main, 400); }

.huge-title {
  /* 64/64 */
  font-size: 4em;
  line-height: 1; }

.big-title, h2 {
  /* 40/48 */
  font-size: 2.5em;
  line-height: 1.2; }

.mid-title, .title {
  /* 32/40 */
  font-size: 2em;
  line-height: 1.25; }

.min-title, h3 {
  /* 24/32 */
  font-size: 1.5em;
  line-height: 1.333333; }

.subtitle, .text-is-bigger, .text-is-larger {
  /* 20/24 */
  font-size: 1.25em;
  line-height: 1.2; }

.text-is-regular {
  /* 16/24 */
  font-size: 1em;
  line-height: 1.5; }

.text-is-smaller, .has-sans-text, td {
  /* 14/24 */
  font-size: 0.875em;
  line-height: 1.714286; }

.big-title *, h2 *,
.mid-title *,
.min-title *,
h3 *,
.title *,
.subtitle * {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit; }

.has-sans-text {
  font-family: var(--font-family--data, sans-serif);
  letter-spacing: 0.03em; }

td {
  font-family: var(--font-family--data, sans-serif); }

@supports (hanging-punctuation: first) {
  * {
    hanging-punctuation: first; } }
/* Font rendering */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/*  EOF Typography */
/*  Universal helpers
 *  2019.7.14
 */
/* ------------------------------------------ layout */
.group-wide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.group-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center; }

.is-chapter:not(.is-on-top), .chapter:not(.is-on-top) {
  padding-top: calc( 2*var(--row-space, 1rem) ); }

.is-chapter:not(.is-on-bottom), .chapter:not(.is-on-bottom) {
  padding-bottom: calc( 2*var(--row-space, 1rem) ); }

/* ------------------------------------------ paddings */
.pb {
  padding-bottom: var(--row-space, 1rem); }

.pt {
  padding-top: var(--row-space, 1rem); }

.has-paddings {
  padding: var(--row-space, 1rem) var(--col-space, 1rem); }

/* ------------------------------------------ univeral helpers */
.is-centered {
  text-align: center;
  justify-content: center;
  align-self: center; }

.layer {
  display: block;
  grid-column: full; }

/*  EOF Universal helpers */
/*  Default color model
 *  2019.7.14
 */
/* ------------------------------------- skup palettes */
/* swed-design 2019 */
:root {
  --hsl-NobleBlack: 240, 15%, 12%;
  --hsl-NobleBlue: 212, 34%, 29%;
  --hsl-AccentBlue: 204, 22%, 55%;
  --hsl-AccentBlux: 226, 17%, 20%;
  --hsl-NobleWhite: 226, 27%, 90%;
  --hsl-NobleHighWhite: 226, 32%, 75%; }

/* ------------------------------------- color model */
:root,
.colors-as-special {
  --background-color: white;
  --color: black;
  --color--mark: firebrick;
  --background-color--mark: lightgray; }

.colors-as-primary {
  --background-color: hsl(var(--hsl-NobleBlack));
  --color: hsl(var(--hsl-NobleWhite));
  --color--mark: hsl(var(--hsl-NobleHighWhite));
  --background-color--mark: hsl(var(--hsl-AccentBlux)); }

.colors-as-secondary, .secondary-colors {
  --background-color: hsl(var(--hsl-NobleBlue));
  --color: hsl(var(--hsl-NobleWhite));
  --color--mark: hsl(var(--hsl-NobleHighWhite)); }

.colors-as-highlight {
  --background-color: hsl(var(--hsl-AccentBlux));
  --color: hsl(var(--hsl-NobleWhite));
  --color--mark: hsl(var(--hsl-NobleHighWhite)); }

.colors-as-alternative {
  --background-color: hsl(var(--hsl-AccentBlue));
  --color: hsl(204, 0%, 0%);
  --color--mark: hsl(204, 0%, 0%); }

/* ------------------------------------- workers */
.use-colors, .secondary-colors {
  background-color: var(--background-color);
  color: var(--color); }

.color-box, .box, .westbox, .eastbox {
  background-color: var(--background-color--mark); }

.color-text {
  color: var(--color--mark); }

/* ------------------------------------- autorun */
body {
  background-color: var(--background-color);
  color: var(--color); }

/*  EOF Default color model */
/*  Article grid, v2003 */
.article-grid, .chapter {
  --grid-base--row-gap: var(--row-space, 1rem);
  --grid-base--col-gap: var(--col-space, 1.25rem);
  --grid-base--add-gap: 1rem;
  /* additional paddings between main and sides columns */
  --grid-base--west-width: 11rem;
  /* short prefix */
  --grid-base--main-width: 35rem;
  /* main text flow */
  --grid-base--east-width: 16rem;
  /* text-notes */ }

.article-grid, .chapter {
  --grid-formula--main-width: auto;
  --grid-formula--west-width: var(--grid-formula--main-width);
  --grid-formula--east-width: var(--grid-formula--main-width);
  --grid-formula--start-hard: [full-start] 0;
  --grid-formula--end-hard: 0 [full-end];
  --grid-formula--start-space: [full-start] minmax(0, 1fr);
  --grid-formula--end-space: minmax(0, 1fr) [full-end];
  --grid-formula--west-skip: 0;
  --grid-formula--east-skip: 0;
  --grid-formula--west-insert:
            0
        [overwest-start]
            var(--grid-base--col-gap)
        [west-start]
            var(--grid-base--west-width)
        [west-end]
            var(--grid-base--col-gap)
        [overwest-end]
            var(--grid-base--add-gap);
  --grid-formula--east-insert:
            var(--grid-base--add-gap)
        [overeast-start]
            var(--grid-base--col-gap)
        [east-start]
            var(--grid-base--east-width)
        [east-end]
            var(--grid-base--col-gap)
        [overeast-end]
            0;
  --grid-formula--main-single:
            0
        [overmain-start]
            var(--grid-base--col-gap)
        [main-start]
            var(--grid-formula--main-width)
        [main-end]
            var(--grid-base--col-gap)
        [overmain-end]
            0;
  --grid-formula--main-join-all:
            0
        [overmain-start overwest-start overeast-start]
            var(--grid-base--col-gap)
        [main-start west-start east-start]
            var(--grid-formula--main-width)
        [main-end west-end east-end]
            var(--grid-base--col-gap)
        [overmain-end overwest-end overeast-end]
            0;
  --grid-formula--main-join-east:
            0
        [overmain-start overeast-start]
            var(--grid-base--col-gap)
        [main-start east-start]
            var(--grid-formula--main-width)
        [main-end east-end]
            var(--grid-base--col-gap)
        [overmain-end overeast-end]
            0;
  --grid-formula--main-join-west:
            0
        [overmain-start overwest-start]
            var(--grid-base--col-gap)
        [main-start west-start]
            var(--grid-formula--main-width)
        [main-end west-end]
            var(--grid-base--col-gap)
        [overmain-end overwest-end]
            0; }

.article-grid, .chapter {
  --grid-part--START: var(--grid-formula--start-hard);
  --grid-part--WEST: var(--grid-formula--west-skip);
  --grid-part--MAIN: var(--grid-formula--main-join-all);
  --grid-part--MAIN-join-WEST: var(--grid-formula--main-join-all);
  --grid-part--MAIN-join-EAST: var(--grid-formula--main-join-all);
  --grid-part--MAIN-join-ALL: var(--grid-formula--main-join-all);
  --grid-part--EAST: var(--grid-formula--east-skip);
  --grid-part--END: var(--grid-formula--end-hard); }

@media all and (min-width: 37.5rem) {
  .article-grid, .chapter {
    --grid-formula--main-width: var(--grid-base--main-width);
    --grid-part--START: var(--grid-formula--start-space);
    --grid-part--END: var(--grid-formula--end-space); } }
@media all and (min-width: 57rem) {
  .article-grid, .chapter {
    --grid-formula--east-width: var(--grid-base--east-width);
    --grid-part--EAST: var(--grid-formula--east-insert);
    --grid-part--MAIN: var(--grid-formula--main-join-west);
    --grid-part--MAIN-join-WEST: var(--grid-formula--main-join-west); } }
@media all and (min-width: 71.5rem) {
  .article-grid, .chapter {
    --grid-formula--west-width: var(--grid-base--west-width);
    --grid-part--WEST: var(--grid-formula--west-insert);
    --grid-part--MAIN: var(--grid-formula--main-single);
    --grid-part--MAIN-join-EAST: var(--grid-formula--main-join-east); } }
.article-grid, .chapter {
  --grid-template-columns--default:
        var(--grid-part--START)
        var(--grid-part--WEST)
        var(--grid-part--MAIN)
        var(--grid-part--EAST)
        var(--grid-part--END);
  --grid-template-columns--content-block:
        [full-start overwest-start overeast-start overmain-start main-start west-start east-start]
            auto
        [full-end overwest-end overeast-end overmain-end main-end west-end east-end];
  --grid-template-columns--content-box:
        [full-start overwest-start overeast-start overmain-start]
            var(--grid-base--col-gap)
        [main-start west-start east-start]
            auto
        [main-end west-end east-end]
            var(--grid-base--col-gap)
        [full-end overwest-end overeast-end overmain-end]; }

.article-grid, .chapter, .article-block-west, .west,
.article-block-east,
.east,
.article-block-main,
.article-block, .article-box-west, .westbox,
.article-box-east,
.eastbox,
.article-box-main,
.article-box,
.block,
.box, .article-westside,
.article-eastside, .article-block-merge-west,
.article-block-merge-east,
.article-block-merge, .article-box-merge-west,
.article-box-merge-east,
.article-box-merge, .article-layer.keep-grid {
  display: grid;
  align-items: start;
  justify-content: start;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  grid-row-gap: var(--grid-base--row-gap);
  grid-column-gap: 0; }

.article-grid, .chapter {
  grid-template-columns: var(--grid-template-columns--default); }

.article-grid, .chapter {
  grid-column: full; }

.article-grid *, .chapter * {
  grid-column: main; }

.article-layer {
  grid-column: full; }

.article-block-west, .west {
  grid-column: west; }

.article-block-east, .east {
  grid-column: east; }

.article-block-main {
  grid-column: main; }

.article-block {
  grid-column: main; }

.article-block-west, .west,
.article-block-east,
.east,
.article-block-main,
.article-block {
  grid-template-columns: var(--grid-template--content-block); }

.article-box-west, .westbox {
  grid-column: overwest; }

.article-box-east, .eastbox {
  grid-column: overeast; }

.article-box-main {
  grid-column: overmain; }

.article-box, .block, .box {
  grid-column: overmain; }

.article-box-west, .westbox,
.article-box-east,
.eastbox,
.article-box-main,
.article-box,
.block,
.box {
  grid-template-columns: var(--grid-template-columns--content-box); }

.article-westside {
  grid-column: full-start / overwest-end; }

.article-eastside {
  grid-column: overeast-start / full-end; }

.article-westside,
.article-eastside {
  grid-template-columns: var(--grid-template-columns--content-box); }

.article-block-merge-west {
  grid-column: west-start / main-end; }

.article-block-merge-east {
  grid-column: main-start / east-end; }

.article-block-merge {
  grid-column: west-start / east-end; }

.article-block-merge-west,
.article-block-merge-east,
.article-block-merge {
  grid-template-columns: var(--grid-template-columns--content-block); }

.article-box-merge-west {
  grid-column: overwest-start / overmain-end; }

.article-box-merge-east {
  grid-column: overmain-start / overeast-end; }

.article-box-merge {
  grid-column: overwest-start / overeast-end; }

.article-box-merge-west,
.article-box-merge-east,
.article-box-merge {
  grid-template-columns: var(--grid-template-columns--content-box); }

.article-layer.keep-grid {
  grid-template-columns: var(--grid-template-columns--default); }

.article-westside.keep-grid {
  --grid-part--WEST-as-MAIN:
            0
        [overmain-start overwest-start overeast-start]
            var(--grid-base--col-gap)
        [main-start west-start east-start]
            var(--grid-formula--west-width)
        [main-end west-end east-end]
            var(--grid-base--col-gap)
        [overmain-end overwest-end overeast-end]
            0;
  grid-template-columns: var(--grid-part--START) var(--grid-part--WEST-as-MAIN) var(--grid-formula--end-hard); }

.article-eastside.keep-grid {
  --grid-part--EAST-as-MAIN:
            0
        [overmain-start overwest-start overeast-start]
            var(--grid-base--col-gap)
        [main-start west-start east-start]
            var(--grid-formula--east-width)
        [main-end west-end east-end]
            var(--grid-base--col-gap)
        [overmain-end overwest-end overeast-end]
            0;
  grid-template-columns: var(--grid-formula--start-hard) var(--grid-part--EAST-as-MAIN) var(--grid-part--END); }

.article-box-merge.keep-grid {
  grid-template-columns: var(--grid-formula--start-hard) var(--grid-part--WEST) var(--grid-part--MAIN) var(--grid-part--EAST) var(--grid-formula--end-hard); }

.article-box-merge-east.keep-grid {
  grid-template-columns: var(--grid-formula--start-hard) var(--grid-part--MAIN-join-WEST) var(--grid-part--EAST) var(--grid-formula--end-hard); }

.article-box-merge-west.keep-grid {
  grid-template-columns: var(--grid-formula--start-hard) var(--grid-part--WEST) var(--grid-part--MAIN-join-EAST) var(--grid-formula--end-hard); }

.article-grid, .chapter {
  /* vertical paddings for boxes with background-color */ }
  .article-grid .color-box, .chapter .color-box, .article-grid .box, .chapter .box, .article-grid .westbox, .chapter .westbox, .article-grid .eastbox, .chapter .eastbox {
    padding-top: var(--grid-base--row-gap);
    padding-bottom: var(--grid-base--row-gap); }

/*  EOF article-grid */
/*  asidebar - screen side panel, visible when is-active
 *  2019.7.8
 */
.asidebar {
  --asidebar--background-color: var(--background-color);
  --asidebar--z-index: 100;
  --asidebar--left: auto;
  --asidebar--right: 0;
  --asidebar--max-width: 38rem;
  --asidebar--transform: translateX(100%);
  --asidebar--timing: var(--timing-function--focusZoom);
  position: fixed;
  z-index: var(--asidebar--z-index);
  overflow: visible;
  top: 0;
  right: 0;
  left: 0;
  height: 0; }
  .asidebar.from-westside {
    --asidebar--left: 0;
    --asidebar--right: auto;
    --asidebar--transform: translateX(-100%); }
  .asidebar.is-active .asidebar-overlay {
    pointer-events: all;
    opacity: 0.8; }
  .asidebar.is-active .asidebar-content {
    --asidebar--transform: translateX(0);
    --asidebar--timing: var(--timing-function--focusZoom); }

.asidebar-overlay {
  position: fixed;
  z-index: calc( var(--asidebar--z-index) - 1 );
  background-color: black;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms; }

.asidebar-content {
  /* design */
  background-color: var(--asidebar--background-color);
  padding: 1em;
  /* layout */
  position: fixed;
  z-index: var(--asidebar--z-index);
  top: 0;
  bottom: 0;
  left: var(--asidebar--left);
  right: var(--asidebar--right);
  width: 100%;
  max-width: var(--asidebar--max-width);
  /* content behavior */
  overflow: auto;
  /* closed/opened state */
  will-change: transform;
  transform: var(--asidebar--transform);
  transition: transform 200ms;
  transition-timing-function: var(--asidebar--timing); }
  @media screen and (max-width: 42rem) {
    .asidebar-content {
      --asidebar--max-width: 100%; } }

/* «html» worker */
.has-active-asidebar {
  overflow: hidden; }

/*  EOF asidebar */
/*  Data Table - Responsive <table> values
 *  2019.1.17
 */
.data-table {
  /* table critical css */
  /* table addon - has compact mobile view */
  /* table addon -- has Data Titles */
  /* table addon -- has type of content */ }
  .data-table th,
  .data-table td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    vertical-align: top; }
  .data-table caption,
  .data-table th {
    text-align: left;
    line-height: 1.25; }
  @media all and (min-width: 601px) {
    .data-table th:first-child,
    .data-table td:first-child {
      padding-left: 0.125em; }
    .data-table th:last-child,
    .data-table td:last-child {
      padding-right: 0.125em; } }
  @media all and (max-width: 600px) {
    .data-table:not(.is-perfect),
    .data-table:not(.is-perfect) caption,
    .data-table:not(.is-perfect) thead,
    .data-table:not(.is-perfect) tbody,
    .data-table:not(.is-perfect) tfooter,
    .data-table:not(.is-perfect) tr {
      display: block; }
    .data-table:not(.is-perfect) th,
    .data-table:not(.is-perfect) td {
      display: block;
      text-align: left;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      border: 0; }
    .data-table:not(.is-perfect)[data-table-type] table tr > * {
      text-align: left; }
    .data-table:not(.is-perfect)[data-table-type] table tr > *:not(th) {
      font-family: inherit; }
    .data-table:not(.is-perfect) thead th {
      text-align: right;
      padding-top: 0;
      padding-bottom: 0; }
    .data-table:not(.is-perfect) tr + tr *:first-child {
      border-top: 2px dashed rgba(0, 0, 0, 0.15);
      margin-top: 1em;
      padding-top: 1em; }
    .data-table:not(.is-perfect) tr:hover {
      background-color: transparent; }
    .data-table:not(.is-perfect)[data-table-type] tr > td, .data-table:not(.is-perfect)[data-table-type] tr > td,
    .data-table:not(.is-perfect) .is-number {
      text-align: left; } }
  @media all and (max-width: 600px) {
    .data-table.has-data-titles:not(.is-perfect) thead {
      display: none; }
    .data-table.has-data-titles:not(.is-perfect) th,
    .data-table.has-data-titles:not(.is-perfect) td {
      font-size: inherit;
      line-height: inherit; }
    .data-table.has-data-titles:not(.is-perfect) th[data-title],
    .data-table.has-data-titles:not(.is-perfect) td[data-title] {
      position: relative;
      padding-left: 8em;
      box-sizing: border-box; }
    .data-table.has-data-titles:not(.is-perfect) th[data-title]:before,
    .data-table.has-data-titles:not(.is-perfect) td[data-title]:before {
      content: attr(data-title) ": ";
      position: absolute;
      display: block;
      margin-left: -8em;
      width: 7.5em; } }
  .data-table[data-table-type*="1num"] tr > *:nth-child(1), .data-table[data-table-type*="2num"] tr > *:nth-child(2), .data-table[data-table-type*="3num"] tr > *:nth-child(3), .data-table[data-table-type*="4num"] tr > *:nth-child(4), .data-table[data-table-type*="5num"] tr > *:nth-child(5),
  .data-table .is-number {
    text-align: right; }
  .data-table[data-table-type*="1num"] tr > *:not(th):nth-child(1), .data-table[data-table-type*="2num"] tr > *:not(th):nth-child(2), .data-table[data-table-type*="3num"] tr > *:not(th):nth-child(3), .data-table[data-table-type*="4num"] tr > *:not(th):nth-child(4), .data-table[data-table-type*="5num"] tr > *:not(th):nth-child(5),
  .data-table .is-number:not(th) {
    font-family: monospace; }
  @media all and (min-width: 601px) {
    .data-table[data-table-type*="1str"] tr > *:not(th):nth-child(1), .data-table[data-table-type*="2str"] tr > *:not(th):nth-child(2), .data-table[data-table-type*="3str"] tr > *:not(th):nth-child(3), .data-table[data-table-type*="4str"] tr > *:not(th):nth-child(4), .data-table[data-table-type*="5str"] tr > *:not(th):nth-child(5),
    .data-table .is-string:not(th) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; } }

/*  EOF Data Table */
/*  Required animations
 *  2019.7.14
 */
/* ------------------------------------- Easing */
:root {
  --timing-function--focusZoom: cubic-bezier(0.165, 0.84, 0.44, 1);
  --timing-function--openJump: cubic-bezier(0.175, 0.885, 0.320, 1.275);
  --timing-function--closeJump: cubic-bezier(0.600, -0.280, 0.735, 0.045); }

/* ------------------------------------- Animations */
@keyframes keyframes--SimpleRotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
/*  Source: animate.css, http://daneden.me/animate
 *  - pulse
 */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

/*  EOF Required animations */
/* ==============================================================
    SVGA Regular Inline Icons
    2019.6.27
============================================================== */
.svga-icon {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  vertical-align: middle;
  width: 1em;
  height: 1em; }
  .svga-icon:not(.base-size) {
    margin-right: calc( var(--line-height, 1.5)*1em - 1em );
    transform: scale(var(--line-height, 1.5));
    transform-origin: left center; }
  .svga-icon > svg {
    width: 100%;
    height: 100%;
    fill: currentColor; }

/* EOF Regular Icons */
/*  Article markup
 *  Shortcuts for faster article markup
 *  2019.7.14
 */
/*  EOF Article markup */
/* EOF Default styles index */
