// -------------------------------------------- SCSS Fallbacks


//* ------------------------------------ font-size model 2019


$title-size-breakpoint: 'max-width: 38em';


%text-as-huge-title {
    /* 64/64 */
    font-size:   4em;
    line-height: 1;
    @media ($title-size-breakpoint) {
        /* 32/40 */
        font-size:   2em;
        line-height: 1.25;
    }
}
%text-as-big-title {
    /* 40/48 */
    font-size:   2.5em;
    line-height: 1.2;
    @media ($title-size-breakpoint) {
        /* 24/32 */
        font-size:   1.5em;
        line-height: 1.33333333;
    }
}
%text-as-mid-title {
    /* 32/40 */
    font-size:   2em;
    line-height: 1.25;
    @media ($title-size-breakpoint) {
        /* 20/24 */
        font-size:   1.25em;
        line-height: 1.2;
    }
}
%text-as-min-title {
    /* 24/32 */
    font-size:   1.5em;
    line-height: 1.33333333;
    @media ($title-size-breakpoint) {
        /* 16/24 */
        font-size:   1em;
        line-height: 1.5;
        font-weight: bolder;
    }
}
%text-as-bigger {
    /* 20/24 */
    font-size:   1.25em;
    line-height: 1.2;
}
%text-as-regular {
    /* 16/24 */
    font-size:   1em;
    line-height: 1.5;
}
%text-as-smaller {
    /* 14/24 */
    font-size:    0.875em;
    line-height: 1.714286;
}


//* ------------------------------------ markup system 2019


.huge-title *,
.big-title *,
.mid-title *,
.min-title *,
.sub-title *,
    .title *,
 .subtitle * {
    font-family: inherit;
    font-size:   inherit;
    line-height: inherit;
    font-weight: inherit;
}

.huge-title      { @extend %text-as-huge-title; }
.big-title       { @extend %text-as-big-title; }
.mid-title       { @extend %text-as-mid-title; }
.min-title       { @extend %text-as-min-title; }

.title           { @extend %text-as-mid-title; }
.subtitle        { @extend %text-as-bigger; }

.text-is-bigger  { @extend %text-as-bigger; }
.text-is-larger  { @extend %text-as-bigger; }
.text-is-regular { @extend %text-as-regular; }
.text-is-smaller { @extend %text-as-smaller; }

.has-sans-text {
    @extend      %text-as-smaller;
    font-family: var(--font-family--data, sans-serif);
    letter-spacing: 0.03em;
}




.group-banners {
    /* group-wide */
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-between;
    align-items:     center;
    align-content:   center;
}
.group-banners>* {
    flex-grow: 1;
}
@media (min-width: 38em) {
    .group-banners:not(.is-big) { flex-wrap: nowrap; }
}
@media (min-width: 1200px) {
    .group-banners { flex-wrap: nowrap; }
}



//* ------------------------------------- deprecated


.is-chapter:not(.isontop):not(.is-on-top)    { padding-top:    calc( 2*var(--row-space, 1rem) ); }
.is-chapter:not(.isonbot):not(.is-on-bottom) { padding-bottom: calc( 2*var(--row-space, 1rem) ); }


.no-paddings  { padding: 0; }
.has-paddings {
  --padding-top:    var(--row-space, 1rem);
  --padding-right:  var(--col-space, 1rem);
  --padding-bottom: var(--row-space, 1rem);
  --padding-left:   var(--col-space, 1rem);
    padding:
        var(--padding-top)
        var(--padding-right)
        var(--padding-bottom)
        var(--padding-left);
}
.padding-vertical {
  --padding-vertical:   var(--row-space, 1rem);
  --padding-top:        var(--padding-vertical);
  --padding-bottom:     var(--padding-vertical);
    padding-top:    var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.padding-horizontal {
  --padding-horizontal: var(--col-space, 1rem);
  --padding-right:      var(--padding-vertical);
  --padding-left:       var(--padding-vertical);
    padding-right:      var(--padding-right);
    padding-left:       var(--padding-left);
}




.colors-as-primary {
    --background-color:           hsl(var(--HSL-NobleBlack));
    --color:                      hsl(var(--HSL-NobleWhite));
    --secondary-color:            hsl(var(--HSL-NobleHighWhite));
    --secondary-background-color: hsl(var(--HSL-AccentBlux));
    --action-color:               hsl(359, 54%, 53%);
    --action-color--hover:        hsl(359, 59%, 43%);
    --action-color--text:         white;
}
.colors-as-secondary {
    --background-color:           hsl(var(--HSL-NobleBlue));
    --color:                      hsl(var(--HSL-NobleWhite));
    --secondary-color:            hsl(var(--HSL-NobleHighWhite));
    --action-color:               hsl(359, 54%, 53%);
    --action-color--hover:        hsl(359, 59%, 43%);
    --action-color--text:         white;
}
.colors-as-highlight {
    --background-color:           hsl(var(--HSL-AccentBlux));
    --color:                      hsl(var(--HSL-NobleWhite));
    --secondary-color:            hsl(var(--HSL-NobleHighWhite));
}
.colors-as-alternative {
    --background-color:           hsl(var(--HSL-AccentBlue));
    --color:                      hsl(204,  0%,  0%);
    --secondary-color:            hsl(204,  0%,  0%);
}

.color-mode--ivory-paper {
    --background-color:           hsl(53, 66%, 80%);
    --color:                      hsl(204, 4%, 22%);
    --secondary-color:            hsl(53, 9%, 38%);
    --secondary-background-color: hsl(50, 32%, 66%);
    --third-background-color:     hsl(53, 9%, 38%);
    --third-color:                hsl(53, 66%, 80%);
    --shadow-color:               hsla(0, 0%, 0%, 0.1);
}
.color-mode--appking {
    --background-color:           hsl(var(--HSL-KingsBlue));
    --color:                      white;
    --secondary-color:            hsl(var(--HSL-KingsLand));
    --secondary-background-color: hsl(var(--HSL-KingsGrass));
    --third-background-color:     hsl(var(--HSL-KingsGold));
    --third-color:                hsl(var(--HSL-KingsLand));
    --action-color:               hsl(var(--HSL-KingsAction));
    --action-color--hover:        hsl(var(--HSL-KingsAction));
    --action-color--text:         white;
    --shadow-color:               hsla(0, 0%, 0%, 0.1);
}


.use-secondary-colors {
    background-color: var(--secondary-background-color);
    color:            var(--secondary-color);
}
.use-third-colors {
    background-color: var(--third-background-color);
    color:            var(--third-color);
}
.use-action-colors {
    background-color: var(--action-color);
    color:            var(--action-color--text);
}
.use-shadow-background {
    background-color: var(--shadow-color);
}

.color-box {
    background-color: var(--secondary-background-color);
}
.color-text {
    color:            var(--alternative-text-color, var(--secondary-color));
}
.color-text-action {
    color:            var(--action-color);
}

.color-box-accent {
    background-color: var(--action-color);
    color:            var(--action-color--text);
}
.color-text-accent {
    color:            var(--action-color);
}
.alternative-colors {
    background-color: var(--third-background-color);
    color:            var(--third-color);
}

/*
    deprecated by journal-grid
    2019.8.14

.block {
    @extend .article-box;
}
.box {
    @extend .article-box;
    @extend .color-box;
    padding-top:    var(--row-space);
    padding-bottom: var(--row-space);
}
.big-box {
    @extend .article-box;
    @extend .color-box;
    @extend .text-is-bigger;
    padding: calc( var(--row-space) * 2 ) var(--col-space);
    margin:  var(--row-space) 0;
}
.rows {
    @extend .article-block;
}
.west {
    @extend .article-block-west;
}
.east {
    @extend .article-block-east;
}

.textnote {
    @extend .article-box-east;
    @extend .color-text;
    @extend .text-is-smaller;
}
.accent {
    @extend .color-box-accent;
}


.westbox {
    @extend .article-box-west;
    @extend .color-box;
}
.eastbox {
    @extend .article-box-east;
    @extend .color-box;
}

.chapter {
    @extend .article-grid;
    @extend .is-chapter;
}

*/


// removed from typography

.text-conent {
    max-width: var(--max-width, 100%);
}
.has-min-width {
    min-width: var(--min-width, 12em)
}

.main-font-as-native-sans {
  --font-family: var(--font-family--native-sans);
    font-family: var(--font-family);
}
