/** journal-grid
 *  book-style content layout
 *  2019.8.16
 *
 *  CSS
 *
 */


/** -------------------------------- grid settings */


.journal-grid {

 /* space units */
  --sx:  var(--col-space, 1.5rem);
  --sy:  var(--row-space, 1.5rem);
  --syx: var(--sy) var(--sx);

 /* column sizes — [w] ( [ma+mb] [n] ) [e] */
  --size-ma: 24rem;
  --size-mb:  8rem;
  --size-n:  16rem;
  --size-w:  minmax(0, 4rem);
  --size-e:  minmax(0, 100vw);
}


/** -------------------------------- grid formula */


.journal-grid {

 /* mobile state multiplyer */
  --if-grid-is-tiny: 0;
  --if-grid-no-tiny: 1;

 /* main text collumn */
  --open-main-padding: pm_;
  --open-main:          m_;
  --stop-main:          _m;
  --stop-main-padding: _pm;

 /* parts in formula */
  --grid-part--main-content: var(--size-ma) [_ma] var(--sx) [_pma] 0 [pmb_] var(--sx) [mb_] var(--size-mb);
  --grid-part--note-column:  0 [pn_] var(--sx) [n_] var(--size-n) [_n] var(--sx) [_pn];
  --grid-part--main-space:   0;
  --grid-part--main-gap:     var(--sx);

  --grid-part--full-start:   [full-start w_] var(--size-w) [_w] 0;
  --grid-part--full-end:     0 [e_] var(--size-e) [_e full-end];
  --grid-part--empty-start:  [full-start w_ e_] 0;
  --grid-part--empty-end:    0 [_w _e full-end];

}


/** -------------------------------- mobile state */


@media (max-width:65rem) {
    .journal-grid {
     /* remove strict column sizes */
      --size-ma: 3fr;
      --size-mb: 1fr;
      --size-n:  2fr;
      --size-w:  minmax(0, auto);
      --size-e:  minmax(0, auto);
    }
}
@media (max-width:47rem) {
    .journal-grid {
     /* change state */
      --if-grid-is-tiny: 1;
      --if-grid-no-tiny: 0;

     /* note-column appears as main-column */
      --open-main-padding: pm_ pn_ pmb_;
      --open-main:          m_  n_  mb_;
      --stop-main:          _m  _n  _ma;
      --stop-main-padding: _pm _pn _pma;

     /* mobile layout behavoir */
      --grid-part--note-column:  0;
      --grid-part--main-content: 1fr;
    }
}

/** -------------------------------- define grid */


/* components */
.figured,
.wide,
.note,
.box,
.block,
/* core */
.keep-grid,
.journal-grid {

    display:         grid;
    align-items:     start;
    justify-content: start;
    grid-auto-flow:  row;
    grid-auto-rows:  min-content;
    grid-row-gap:    var(--sy);
    grid-column-gap: 0;

    grid-template-columns:
          var(--grid-part--full-start)
        [ var(--open-main-padding) ]
          var(--grid-part--main-gap)
          var(--grid-part--main-space)
        [ var(--open-main) ]
          var(--grid-part--main-content)
        [ var(--stop-main) ]
          var(--grid-part--main-gap)
        [ var(--stop-main-padding) ]
          var(--grid-part--note-column)
          var(--grid-part--full-end)
        ;
}


/* column matrix */
.journal-grid * { grid-column:   m_ / _m;   } /* Order #1 important */
.block          { grid-column:   m_ / _m;   } /* Order #2 important */
.keep-grid      { grid-column:    full;     } /* Order #3 important */
.layer          { grid-column:    full;     }
.box            { grid-column:  pm_ / _pm;  }
.wide           { grid-column:  pm_ / _pn;  }


/* has empty start */
.note,
.wide,
.box,
.block {
    --grid-part--full-start: var(--grid-part--empty-start);
    --grid-part--full-end:   var(--grid-part--empty-end);
}


/* has removed note */
.note,
.wide:not(.keep-grid),
.box {
    --open-main-padding: pm_ pn_ pmb_;
    --open-main:          m_  n_  mb_;
    --stop-main:          _m  _n  _ma;
    --stop-main-padding: _pm _pn _pma;

    --grid-part--note-column:  0;
    --grid-part--main-content: 1fr;
}


/* has removed content paddings */
.journal-grid .block { /* +1 level */
    --open-main-padding: pm_ pn_ pmb_;
    --open-main:          m_  n_  mb_;
    --stop-main:          _m  _n  _ma;
    --stop-main-padding: _pm _pn _pma;

    --grid-part--note-column:  0;
    --grid-part--main-content: 1fr;
    --grid-part--main-gap: 0;
}


/** -------------------------------- components */


/*** note component */
    .note {
        grid-column: pn_ / _pn;
      --grid-part--main-space: calc( var(--sx)*var(--if-grid-is-tiny, 0) );
    }
    .note:not(.keep-font-size) {
        /* 13/16 */
        font-size:   var(--dec-font-size,   calc(13/16*1em) );
        line-height: var(--dec-line-height, calc(16/13) );
    }


/*** figured component + .figured.card */
    .figured {
        grid-column:   pm_ / _pn;
        margin-bottom: calc( var(--sy)*var(--if-grid-is-tiny) );
      --grid-part--full-start: var(--grid-part--empty-start);
      --grid-part--full-end:   var(--grid-part--empty-end);
    }
    .figured>*            { grid-column: m_ / _ma; }
    .figured>figure,
    .figured>.figure      { grid-column: pmb_ / _pn; }
    .figured.card>*       { order: calc( 2*var(--if-grid-is-tiny, 0) ); }
    .figured.card>figure,
    .figured.card>.figure { order: calc( 1*var(--if-grid-is-tiny, 0) ); }


/*** remove row gap, use custom layers each row */
    .join-layers {
        grid-row-gap: 0;
    }

/*  EOF journal-grid */
