<div class="wrap-form-fields">

<div class="wrap-field">
<label><span class="field-label">Your Name <i>*</i></span>
[text* your-name maxlength:250 class:form-control] </label>
</div>

<div class="wrap-field">
<label><span class="field-label">Your Email <i>*</i></span>
[email* your-email maxlength:250 class:form-control] </label>
</div>

<div class="wrap-field">
<label><span class="field-label">Phone number <i>(optional)</i></span>
[text your-phone maxlength:250 class:form-control] </label>
</div>

<div hidden><!--
<div class="wrap-field">
<label><span class="field-label">Phone number <i>(optional)</i></span>
[phonetext your-phone class:form-control] </label>
</div>
--></div>

<div class="wrap-field">
<label><span class="field-label">Skype <i>(optional)</i></span>
[text your-skype maxlength:250 class:form-control] </label>
</div>

<div class="wrap-field">
<label><span class="field-label">Message <i>*</i></span>
[textarea* your-message x4 class:form-control] </label>
</div>

<div class="wrap-validation-response">
[response]
</div>

<div class="wrap-submit">
[submit class:form-design-button "Send message"]
</div>

</div>
