<div hidden><!-- Contact Form Sidebar --></div>
<div class="offsidebar colors--contact-bar ContactFormBar">
<div class="sidepanel">
    <div class="sidepanel-header">Contact Us</div>
    <div class="sidepanel-content form-design form-functional">

        <div class="wrap-form-plugin">
            [contact-form-7 id="42469" title="DEV2020"]
        </div>

        <div class="wrap-form-feedback">
            <div class="feedback-design">
                <h2 class="title success">Your message was sent successfully. Thanks!</h2>
                <p>Our manager will reach out to you within the next 24 business hours.</p>
                <p>Best regards,<br>SoftGamings team!</p>
                <div class="next-links">
                    <h4>Next:</h4>
                    <ul>
                        <li><a href="/" class="text-link">Home page</a></li>
                        <li><span class="text-link js-form-reset">New message</span></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<div hidden><!-- END Contact Form Sidebar --></div>
