<div class="offsidebar colors--contact-bar ContactFormBar">
<div class="sidepanel">
    <div class="sidepanel-header">
        <h2 class="title" style="margin:0;">Contact Us</h2>
    </div>
    <div class="sidepanel-content form-design form-functional">
        [contact-form-7 id="42469" title="DEV2020"]
        <div class="form-feedback">
            <h2 class="title">Thanks!</h2>
            <p>Whait for more</p>
            <div class="swed-button js-form-reset">Reset</div>
        </div>
    </div>
</div>
</div>
