<!-- Von Loader -->
<!-- 2020.1.30   -->

<div>
    <style>
        #von-loader {
          --background-color: hsl(212, 34%, 29%);
          --color:            hsl(212, 27%, 90%);
          --size:     6rem;
            z-index:  11;
            position: fixed;
            top:      0;
            right:    0;
            bottom:   0;
            left:     0;
            background-color: var(--background-color);
            color:            var(--color);
            transition:       opacity 240ms ease-out;
            pointer-events:   none;
            opacity:          0; }
        #von-loader.is-active {
            pointer-events:   all;
            opacity:          1; }
        #von-loader::after {
            content:  '';
            position: absolute;
            z-index:  1;
            top:      1.5rem;
            left:     1.5rem;
            width:    var(--size);
            height:   var(--size);
            background-size:     var(--size);
            background-repeat:   no-repeat;
            background-position: center center;
         /* SVG: arrows circle loading */
            background-image: url('data:image/svg+xml;utf8,<svg fill="white" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z"/></svg>');

            animation: VonLoaderRotation 1s linear infinite; }
            @keyframes VonLoaderRotation {
                from { transform: rotate(360deg); }
                to   { transform: rotate(  1deg); }
            }
    </style>
    <div id="von-loader"></div>
    <script>
        function vonLoader () {

            let loader = document.getElementById('von-loader')
            if (!loader || !loader.classList) return false

            let finish = () => { loader.classList.remove('is-active') }
            let waitme = () => {
                if (window.addEventListener)
                    window.addEventListener("load", finish, false)
                else if (window.attachEvent)
                    window.attachEvent("onload", finish)
                else finish()
            }

            loader.classList.add('is-active')
            waitme()
        }
        vonLoader()
    </script>
</div>
