/* ------------------------------------ Grid Setup */

.grid-queen {
 /* vertical and horizontal space */
  --sy: var(--row-space, 1.5rem);
  --sx: var(--col-space, 1.5rem);

 /* columns width */
  --width-root:        1fr;
  --width-roof:        1fr;
  --width-menu:       8rem;
  --width-note:      14rem;
  --width-main--max: 32rem;

}

/** default full layout */
    .grid-queen {
     /* columns */
      --grid-c-root: var(--grid-root-full);
      --grid-c-west: var(--grid-west-full);
      --grid-c-main: var(--grid-main-full);
      --grid-c-east: var(--grid-east-full);
      --grid-c-roof: var(--grid-roof-full);
     /* variables */
    }
/** reduced layout */
    @media (max-width:60rem) {
    .grid-queen {
     /* columns */
      --grid-c-root: var(--grid-root-removed);
      --grid-c-west: var(--grid-west-removed);
      --grid-c-main: var(--grid-main-join-west);
      --grid-c-east: var(--grid-east-full);
      --grid-c-roof: var(--grid-roof-removed);
     /* variables */
      --if-reduced--width-main: 1fr;
      --if-no-west--main-join-both: var(--grid-main-join-both);
        }
    }
/** compact layout */
    @media (max-width:42rem) {
    .grid-queen {
     /* columns */
      --grid-c-root: var(--grid-root-removed);
      --grid-c-west: var(--grid-west-removed);
      --grid-c-main: var(--grid-main-join-both);
      --grid-c-east: var(--grid-east-removed);
      --grid-c-roof: var(--grid-roof-removed);
    /* variables */
      --if-reduced--width-main: 1fr;
      --if-no-west--main-join-both: var(--grid-main-join-both);
      --if-no-east--main-join-both: var(--grid-main-join-both);
    }
}


.grid-queen {
 /* Template Kari */

  --grid-template-columns--main:
      [full-start]         0
      [root-start]         0
      [roof-start]         0
          [main-start]     0
          [west-start]     0
          [east-start]     0 var(--sx)
              [menu-start] 0
              [note-start] 0
              [text-start] 0 1fr
              [text-end]   0
              [menu-end]   0
              [note-end]   0 var(--sx)
          [main-end]       0
          [west-end]       0
          [east-end]       0
      [root-end]           0
      [roof-end]           0
      [full-end];
  --grid-template-columns--flat:
      [full-start]         0
      [root-start]         0
      [roof-start]         0
          [main-start]     0
          [west-start]     0
          [east-start]     0
              [menu-start] 0
              [note-start] 0
              [text-start] 0 1fr
              [text-end]   0
              [menu-end]   0
              [note-end]   0
          [main-end]       0
          [west-end]       0
          [east-end]       0
      [root-end]           0
      [roof-end]           0
      [full-end];


  --grid-west-full:
          [west-start]     0 var(--sx)
              [menu-start] 0 var(--width-menu)
              [menu-end]   0 var(--sx)
          [west-end]       0
      ;
  --grid-east-full:
          [east-start]     0 var(--sx)
              [note-start] 0 var(--width-note)
              [note-end]   0 var(--sx)
          [east-end]       0
      ;
  --grid-west-removed:     0;
  --grid-east-removed:     0;
  --grid-main-full:
          [main-start]     0 var(--sx)
              [text-start] 0 var(--width-main)
              [text-end]   0 var(--sx)
          [main-end]       0
      ;
  --grid-main-join-both:
          [main-start]     0
          [west-start]     0
          [east-start]     0 var(--sx)
              [text-start] 0
              [menu-start] 0
              [note-start] 0 var(--width-main)
              [text-end]   0
              [menu-end]   0
              [note-end]   0 var(--sx)
          [main-end]       0
          [west-end]       0
          [east-end]       0
      ;
  --grid-main-join-east: var(--if-no-west--main-join-both,
          [main-start]     0
          [east-start]     0 var(--sx)
              [text-start] 0
              [note-start] 0 var(--width-main)
              [text-end]   0
              [note-end]   0 var(--sx)
          [main-end]       0
          [east-end]       0
      );
  --grid-main-join-west: var(--if-no-east--main-join-both,
          [main-start]     0
          [west-start]     0 var(--sx)
              [text-start] 0
              [menu-start] 0 var(--width-main)
              [text-end]   0
              [menu-end]   0 var(--sx)
          [main-end]       0
          [west-end]       0
      );


  --grid-root-removed:
      [full-start]         0
      [root-start]         0
      [roof-start]         0
      ;
  --grid-roof-removed:
      [root-end]           0
      [roof-end]           0
      [full-end]
      ;
  --grid-root-full:
      [full-start]         0
      [root-start]         0 var(--width-root)
      [root-end]           0
      ;
  --grid-roof-full:
      [roof-start]         0 var(--width-roof)
      [roof-end]           0
      [full-end]
      ;
}



.grid-queen {
    display:         grid;
  --grid-row-gap:    var(--sy);
  --align-items:     start;
  --justify-content: start;
  --width-main:      var(
      --if-reduced--width-main,
        minmax( 0, var(--width-main--max))
      );
}
.grid-queen,
.grid-queen * {
    grid-template-columns:
      var(--grid-c-root)
      var(--grid-c-west)
      var(--grid-c-main)
      var(--grid-c-east)
      var(--grid-c-roof);
 /* Grid Seed */
    grid-auto-flow:  row;
    grid-auto-rows:  min-content;
    grid-column-gap: 0;
    grid-row-gap:    var(--grid-row-gap);
    align-items:     var(--align-items);
    justify-content: var(--justify-content);
}
.grid-queen * {
    grid-column:     text;
}


.grid-queen--remove-west {
  --grid-west-full:      var(--grid-west-removed);
  --grid-main-full:      var(--grid-main-join-west);
  --grid-main-join-east: var(--grid-main-join-both);
}
.grid-queen--remove-east {
  --grid-east-full:      var(--grid-east-removed);
  --grid-main-full:      var(--grid-main-join-east);
  --grid-main-join-west: var(--grid-main-join-both);
}
.grid-queen--remove-both {
  --grid-west-full:      var(--grid-west-removed);
  --grid-east-full:      var(--grid-east-removed);
  --grid-main-full:      var(--grid-main-join-both);
  --grid-main-join-east: var(--grid-main-join-both);
  --grid-main-join-west: var(--grid-main-join-both);
}


.grid-column--main      { grid-column: main; }
.grid-column--west      { grid-column: west; }
.grid-column--east      { grid-column: east; }
.grid-column--menu      { grid-column: menu; }
.grid-column--note      { grid-column: note; }
.grid-column--full      { grid-column: full; }
.grid-column--wrap      { grid-column: west-start / east-end; }
.grid-column--wrap-west { grid-column: west-start / main-end; }
.grid-column--wrap-east { grid-column: main-start / east-end; }


.subgrid {
    display: grid;
}
.subgrid-box {
    display: grid;
  --grid-template-columns: var(--grid-template-columns--main);
    grid-template-columns: var(--grid-template-columns);
}
.subgrid-block {
    display: grid;
  --grid-template-columns: var(--grid-template-columns--flat);
    grid-template-columns: var(--grid-template-columns);
}
.subgrid-wrap {
    display:     grid;
    grid-column: west-start / east-end;
  --grid-c-root: var(--grid-root-removed);
  --grid-c-roof: var(--grid-roof-removed);
}
.subgrid-wrap-east {
    display:     grid;
    grid-column: main-start / east-end;
  --grid-c-root: var(--grid-root-removed);
  --grid-c-roof: var(--grid-roof-removed);
  --grid-c-main: var(--grid-main-join-west);
  --grid-c-west: var(--grid-west-removed);
}


