/** Pitch Slider
 *  v2020.2.11
 */

/** -------------------------------- settings */

.pitch-hub {

  --banner-height: 24rem;
  --pitches-width: 12rem;

  --align-pitches:  right;
  --align-show:     left;
  --align-template: [show] 1fr [pitches] max-content;

 /* Theme: Garage48 */

  --back-color-hub:            hsla(201,  22%,  46%, 1   );
  --back-color-hub-shadow:     hsla(201,   0%,   0%, 0.25);
  --text-color-hub:            hsla(201,   0%, 100%, 1   );

  --back-color-pitches:        hsla(201,  22%,  46%, 0.85);
  --back-color-pitches-hover:  hsla(201,  22%,  46%, 0   );
  --back-color-pitches-active: hsla(201,  52%,  26%, 1   );
  --text-color-pitches:        hsla(201,   0%, 100%, 1   );
  --text-color-pitches-tag:    hsla(171,  45%,  81%, 1   );

  --text-color-accent:         hsl(171, 45%, 81%);
}

/** -------------------------------- scroll func */

.pitch-hub {
  --current-item-index: 0;
  --average-item-size:  4rem;
}
.pitches-header,
.pitch-label {
  --i: var(--current-item-index, 0);
  --h: var(--average-item-size,  4rem);
    transition: transform 120ms ease-in-out;
    transform:  translateY(calc( -1*var(--i)*var(--h) ));
}


/** -------------------------------- wrap */

.pitch-hub {
    position:   relative;
    z-index:    0;
    width:      100%;
    height:     var(--banner-height);
    max-height: 100vh;
    overflow:   hidden;

    display:         grid;
    justify-content: stretch;
    align-items:     stretch;

    grid-template-columns: var(--align-template);
    color:                 var(--text-color-hub);
}
.pitch-hub::before {
 /* Default background */
    background-color:      var(--back-color-hub);
    content: '';
    position: absolute;
    z-index: -2;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
}
.pitch-hub::after {
 /* Shadow */
    background-image:
        linear-gradient(
            to bottom,
            transparent 96%,
            var(--back-color-hub-shadow)
        );
    pointer-events: none;
    content: '';
    position: absolute;
    z-index:  2;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;

}

/** -------------------------------- pitchlist label */

/* content design */

.pitchlist-label {
    padding:        0.75em 0.25em 0.75em 0.75em;
    line-height:    1.25;
}
.pitchlist-label .t-prefx {
    display:        block;
    font-size:      0.8em;
    color:          var(--text-color-accent);
}
.pitchlist-label .t-title {
    display:        block;
}
.pitchlist-label .t-aria { display: none; }

/* layout */

.pitchlist-label {
    position:          relative;

  --background:        transparent;
  --box-shadow:        none;
  --transform:         scale(1);

    background:        var(--background);
    box-shadow:        var(--box-shadow);
    transform:         var(--transform);
    transform-origin:  right center;

  --hover-transform:   scale(1.05);
  --active-transform:  scale(1.2);

    transition-property:        transform;
    transition-duration:        320ms;
    transition-timing-function: var(--timing-function--focusZoom);


  --active-box-shadow: 0px 2px 4px var(--back-color-hub-shadow);
  --active-background: linear-gradient(145deg,
        hsla(201,  52%,  26%, 1   ),
        hsla(201,  32%,  46%, 1   )
    );
}
.pitchlist-label .label-texts {

}
.pitchlist-label .t-link {
    opacity:        var(--is-active-pitch, 0);
    pointer-events: var(--state--pointer-events, none);
    display:  block;
    position: absolute;
    z-index:  1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
}
.pitchlist-label::before {
  --size:     3rem;
    content:  '';
    display:  block;
    position: absolute;
    z-index: -1;
    top:      calc( 50% - 0.5*var(--size));
    right:    0;
    width:    var(--size);
    height:   var(--size);

    background-image: url('data:image/svg+xml;utf8,<svg fill="hsl(0, 72%, 62%)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8 5v14l11-7z"/></svg>');
    background-repeat:   no-repeat;
    background-position: right center;
    background-size:     var(--size) var(--size);

    transform:                  scale(var(--is-active-pitch));
    transition-property:        transform;
    transition-duration:        440ms;
    transition-timing-function: var(--timing-function--openJump);
    transition-delay:           120ms;
}

/* hover & active */

.pitchlist-label:hover {
  --transform:        var(--hover-transform);
}
.active-pitch .pitchlist-label {
  --transform:        var(--active-transform);
  --background:       var(--active-background);
  --box-shadow:       var(--active-box-shadow);

  --is-active-pitch:       1;
  --state--pointer-events: all;
}


/** -------------------------------- labels */

.pitches {
  --pdu: 0.75rem; /* padding unit */
    grid-column:     pitches;
    max-width: var(--pitches-width);
    height:    100%;
    padding-left: 0.75rem;

    background-color: var(--back-color-pitches);
    color:            var(--text-color-pitches);
}
.pitches-header {
    padding: calc(2*var(--pdu)) var(--pdu);
}
.pitches-header .t-title {
    font-size: 2em;
    line-height: 1;
    color: hsl(171, 45%, 81%);
}
.pitch-label {
    /*
    padding: var(--pdu);
    padding: var(--pdu) 1rem;
    */
}
.pitch-label-caption {
    padding-top: 0.25rem;
}
/*
.pitch-label .t-tag {
    display: block;
    font-size: 0.8em;
    line-height: 1.25;
    color: hsl(171, 45%, 81%);
}
.pitch-label .t-title {
    display: block;
    line-height: 1.25;
}
*/
.pitch-label-link {
    opacity:        0;
    pointer-events: none;
}
.active-pitch .pitch-label-link {
    opacity:        1;
    pointer-events: all;
}

.pitch-label-link .t-link {
    position: absolute;
    z-index:  1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
}
.pitch-label-link::before {
  --size:     3rem;
    content:  '';
    display:  block;
    position: absolute;
    z-index: -1;
    top:      calc( 50% - 0.5*var(--size));
    right:    0;
    width:    var(--size);
    height:   var(--size);
    background-image: url('data:image/svg+xml;utf8,<svg fill="hsl(0, 72%, 62%)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8 5v14l11-7z"/></svg>');
    background-repeat:   no-repeat;
    background-position: right center;
    background-size:     var(--size) var(--size);
    transform: scale(var(--is-active-pitch));
    transition: transform 440ms;
    transition-timing-function: var(--timing-function--openJump);
    transition-delay: 120ms;
}
.pitch-label-link .t-aria {
    display: none;
}


/** -------------------------------- label states */
/*
.pitch:hover  .pitch-label { z-index: 1; }
.active-pitch .pitch-label { z-index: 2; }
*/

.pitch-label {
        /*
  --background-color:    transparent;
  --transform:           scale(1);
    position:            relative;
    background-color:    var(--background-color);

    transform:           var(--transform);
    transform-origin:    var(--align-pitches, left) center;
    transition-duration: 320ms;
    transition-property: transform;
    transition-timing-function: var(--timing-function--focusZoom);
    */
}



.pitch-label:hover {
  /* --background-color:    var(--back-color-pitches-hover);
  --transform:           scale(1.1); */
  }

.active-pitch .pitch-label {
  /* --background-color:    var(--back-color-pitches-active);
    background: linear-gradient(
        145deg,
        hsla(201,  52%,  26%, 1   ),
        hsla(201,  32%,  46%, 1   )
        );
  --transform:           scale(1.25);
    transition-property: transform, background;

    box-shadow: 0px 2px 4px var(--back-color-hub-shadow); */
}

/** -------------------------------- slide */

.pitch {
  --is-active-pitch: 0;
  --translate-show: -200%;
  --translate-el:    100%;
  --bg-opacity:      0;
  --el-max-width:    100%;
  --el-max-height:   90%;
  --el-align-self:   flex-end;
  --el-margin:       0 auto;
  --el-animation:    none;
  --link-pointer:    none;
  --link-transofrm:  translateX(200%) scale(2);
}
.pitch.active-pitch {
  --is-active-pitch: 1;
  --translate-show:  0;
  --translate-el:    0;
  --bg-opacity:      1;
  --el-animation:    show-el-pulse;
  --link-pointer:    all;
  --link-transofrm:  translateX(0) scale(1);
}

.pitch-show {
    position: absolute;
    z-index: -1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
    transform:       translateX( var(--translate-show) );
    pointer-events:  none;
}
.pitch-show-bg {
    position: absolute;
    z-index: -1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
    pointer-events: none;
    opacity:        var(--bg-opacity);
    transition:     opacity 320ms;
    transition-timing-function: var(--timing-function--focusZoom);
}
.pitch-show-bg .i-show-bg {
    width:           100%;
    height:          100%;
    object-fit:      cover;
    object-position: var(--align-show) center;
}
.pitch-show-el {
    position: absolute;
    z-index: -1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
    pointer-events:  none;
    overflow:        hidden;
    display:         flex;
    justify-content: center;
    align-content:   flex-end;
    align-items:     flex-end;
    transform:  translateX( var(--translate-el) );
    transition: transform 320ms;
    transition-timing-function: var(--timing-function--focusZoom);
}
.pitch-show-el .i-show-el {
    display:   block;
    transform-origin: center bottom;
    max-width:  var(--el-max-width);
    max-height: var(--el-max-height);
    align-self: var(--el-align-self);
    margin:     var(--el-margin);
    animation:  var(--el-animation);
    animation-duration:        1280ms;
    animation-fill-mode:       both;
    animation-iteration-count: infinite;
    animation-iteration-count: 1;
}

.pitch-show-to {
    position:  absolute;
    right:     0;
    bottom:    0;
    padding:   1rem;
    pointer-events:   var(--link-pointer);
    transform:        var(--link-transofrm);
    transform-origin: right center;
    transition:       transform 240ms;
    transition-timing-function: var(--timing-function--openJump);
}

.a-show-to>a {
    display:          inline-block;
    background-color: hsl(0, 67%, 27%);
    border: 2px solid currentColor;
    color: white;
    padding: 0.25em 0.5em;
    margin:  0.5em 0.25em;
    text-decoration: underline;
    text-decoration-color: hsla(0,0%,100%,0.25);
    font-size: 1.5em;
    line-height: 1;
    border-radius: 4px;
    transition: padding 240ms, margin 240ms;
}
.a-show-to>a:hover {
    background-color: hsl(0, 47%, 47%);
    padding: 0.5em 0.25em;
    margin:  0.25em 0.5em;
}

@keyframes show-el-pulse {
    from { transform: scale3d(1, 1, 1); }
    50%  { transform: scale3d(1.05, 1.05, 1.05); }
    to   { transform: scale3d(1, 1, 1); }
}

/** -------------------------------- producers */

.producer-arena {
    position: relative;
    z-index: 0;

    background: transparent;

    width: 100%;
    height: 24rem;
    max-height: 100vh;
    overflow: hidden;

    display: grid;
    grid-template-columns: [arena] 1fr [producers] max-content;
    justify-content: stretch;
    align-items: stretch;

}
.producer-arena::before {
    content: '';
    position: absolute;
    z-index: -2;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
    background-color: hsla(201, 22%, 46%,1);
}
.producer-arena::after {
    content: '';
    position: absolute;
    z-index: 2;
    pointer-events: none;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
    background-image: linear-gradient(
        to bottom,
        transparent 96%,
        rgba(0,0,0,.25)
        );

}
.producers {
    grid-column: producers;
    max-width: 16rem;
    height: 100%;
    padding-top: 6rem;
    padding-bottom: 2rem;

    padding-left: 0.75rem;
    background-color: hsla(201, 22%, 46%,0.85);
    color: white;
}
.producer__label {
  --sx: 0.75rem;
  --sy: 0.75rem;
  --background-color: transparent;
  --transform: scale(1);
    padding: 1rem var(--sx) var(--sy) var(--sx);
    background-color: var(--background-color);
    transition: 320ms var(--timing-function--focusZoom);
    transition-property: transform;
    transform:  var(--transform);
    transform-origin: right center;
    position: relative; 
}
.producer__label:hover {
  --background-color: hsla(201, 22%, 46%,1);
  --transform: scale(1.125);
}
.producer.is-active .producer__label {
  --background-color: hsla(201, 52%, 26%,1);
  --transform: scale(1.25);
  transition-property: transform, background;
  z-index: 1;
}
.producer__label .is-provider {
    display: block;
    font-size: 0.8em;
    line-height: 1.25;
    color: hsl(171, 45%, 81%);
}
.producer__label .is-game {
    display: block;
    line-height: 1.25;
}
.producer__show {
    position: absolute;
    z-index: -1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
    pointer-events: none;
    transform: translateX(-200%);
}
.producer.is-active .producer__show {
    transform: translateX(0);
}
.producer__show .show-bg {
    position: absolute;
    z-index: -1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 320ms var(--timing-function--focusZoom);
}
.producer.is-active .show-bg {
    opacity: 1;
}
.producer__show .show-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
}
.producer__show .show-el {
    position: absolute;
    z-index: -1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
    pointer-events: none;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;

    transform: translateX(100%);
    transition: transform 320ms var(--timing-function--focusZoom);
}
.producer.is-active .show-el {
    transform: translateX(0);
}
.producer__show .show-el-img {
    display:   block;
  --max-width:  100%;
  --max-height:  90%;
  --align-self: flex-end;
  --margin:     0 auto;
    max-width:  var(--max-width);
    max-height: var(--max-height);
    align-self: var(--align-self);
    margin:     var(--margin);
}
.producer.is-active .show-el-img {
    animation-name: show-el-pulse;
    animation-duration: 1280ms;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-iteration-count: 1;
    transform-origin: center bottom;
}
@keyframes show-el-pulse {
    from { transform: scale3d(1, 1, 1); }
    50%  { transform: scale3d(1.05, 1.05, 1.05); }
    to   { transform: scale3d(1, 1, 1); }
}


.producer__show .show-to {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1rem;
    transform: translateX(-100%) scale(2);
    transform-origin: right center;
    transition: transform 240ms var(--timing-function--openJump);
    --transition-delay: 320ms;
}
.producer.is-active .show-to {
    transform: translateX(0) scale(1);
    pointer-events: all;
}
.producer__show .show-to-link>a {
    display: inline-block;
    background-color: hsl(0, 67%, 27%);
    border: 2px solid currentColor;
    color: white;
    padding: 0.25em 0.5em;
    margin:  0.5em 0.25em;
    text-decoration: underline;
    text-decoration-color: hsla(0,0%,100%,0.25);
    font-size: 1.5em;
    line-height: 1;
    border-radius: 4px;
    transition: padding 240ms, margin 240ms;
}
.producer__show .show-to-link>a:hover {
    background-color: hsl(0, 47%, 47%);
    padding: 0.5em 0.25em;
    margin:  0.25em 0.5em;
}
/*    .producers.opa .producer__label {
    transition: all 440ms;
    transform: translateY(-63px);
}*/