/*  Default color model
 *  v2019.7.31
 */


/* ------------------------------------- skup palettes */


/* swed-design 2019 */

:root {
    --HSL-NobleBlack:            240, 15%, 12%;
    --HSL-NobleBlue:             212, 34%, 29%;
    --HSL-AccentBlue:            204, 22%, 55%;
    --HSL-AccentBlux:            226, 17%, 20%;
    --HSL-NobleWhite:            226, 27%, 90%;
    --HSL-NobleHighWhite:        226, 32%, 75%;
    --HSL-NobleAction:           359, 54%, 53%;
    --HSL-NobleHoverAction:      359, 59%, 43%;
}


/* ------------------------------------- color model */


:root,
.colors-as-special {
    --background-color:           white;
    --color:                      black;
    --secondary-color:            firebrick;
    --secondary-background-color: lightgray;
    --action-color:               firebrick;
    --action-color--hover:        darkred;
    --action-color--text:         white;
    --shadow-color:               hsla(0, 0%, 0%, 0.3);
}
.colors-as-primary {
    --background-color:           hsl(var(--HSL-NobleBlack));
    --color:                      hsl(var(--HSL-NobleWhite));
    --secondary-color:            hsl(var(--HSL-NobleHighWhite));
    --secondary-background-color: hsl(var(--HSL-AccentBlux));
    --action-color:               hsl(359, 54%, 53%);
    --action-color--hover:        hsl(359, 59%, 43%);
    --action-color--text:         white;
}
.colors-as-secondary {
    --background-color:           hsl(var(--HSL-NobleBlue));
    --color:                      hsl(var(--HSL-NobleWhite));
    --secondary-color:            hsl(var(--HSL-NobleHighWhite));
    --action-color:               hsl(359, 54%, 53%);
    --action-color--hover:        hsl(359, 59%, 43%);
    --action-color--text:         white;
}
.colors-as-highlight {
    --background-color:           hsl(var(--HSL-AccentBlux));
    --color:                      hsl(var(--HSL-NobleWhite));
    --secondary-color:            hsl(var(--HSL-NobleHighWhite));
}
.colors-as-alternative {
    --background-color:           hsl(var(--HSL-AccentBlue));
    --color:                      hsl(204,  0%,  0%);
    --secondary-color:            hsl(204,  0%,  0%);
}


/* ------------------------------------- workers */


.use-colors {
    background-color: var(--background-color);
    color:            var(--color);
}
.color-box {
    background-color: var(--secondary-background-color);
}
.color-text {
    color:            var(--secondary-color);
}


/* ------------------------------------- autorun */


body {
    background-color: var(--background-color);
    color:            var(--color);
}


/*  EOF Default color model */
