//* ------------------------------------- SVG Backgrounds


/** Generate Colors from Black:
    https://codepen.io/sosuke/full/Pjoqqp
*/
.filter--black-is-white {
    filter: invert(100%);
}

.background-image--close {
 /* SVG: x-close */
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>');
}
.background-image--loading {
 /* SVG: arrows circle loading */
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z"/></svg>');
}
.background-image--info {
 /* SVG: i-info circle */
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>');
}

//* ------------------------------------- pending components


.nav-header {
    position: sticky;
    top:      0;
    z-index:  1;
  --padding-top:    0.25em;
  --padding-bottom: 0.25em;
  --menu-icon-placeholder: 2em;
    padding-top:    var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.nav-header>* {
    padding-right:  var(--menu-icon-placeholder);
}

.nav-fly {
    position: fixed;
    z-index:  3;
    top:      0;
    right:    0;
    width:  2em;
    height: 2em;

    display:   flex;
    justify-content: center;
    align-content:   center;
    align-items:     center;

  --background-color: black;
  --clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%, 0% 0%);
    clip-path: var(--clip-path);
    cursor:    pointer;
    background-color: var(--background-color);

    transition: clip-path 240ms var(--timing-function--focusZoom);
}
.nav-fly:hover {
  --clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0% 100%);
  --background-color: firebrick;
}
.has-offsidebar-overlay .nav-fly { opacity: 0; }


/* sidebar menu list */

.content-menu {
    margin:  0 calc( (-1) * var(--col-space) );
    padding: 0;
    list-style: none;
}
.content-menu>li>* {
    display: block;
    padding: 0.5rem var(--col-space);
    text-decoration: none;
}
.content-menu>li>*:hover {
    background-color: hsla(0,0%,0%,0.25);
}

