/** Article markup
 *  Shortcuts for faster coding
 *  2019.8.22
 *
 *  SCSS
 *
 */


/* ----------------------------------- swed-banner alias */


.banner       { @extend .swed-banner         !optional; }
.banner-title { @extend .swed-banner-title   !optional; }


//* ------------------------------------- html


h1 { @extend .h1 !optional; }
h2 { @extend .h2 !optional; }
h3 { @extend .h3 !optional; }
h4 { @extend .h4 !optional; }
h5 { @extend .h5 !optional; }
h6 { @extend .h6 !optional; }

big   { @extend .text-inline-bigger  !optional; }
small { @extend .text-inline-smaller !optional; }
mark,
.mark { color: var(--text-color-accent, inherit); background-color: transparent; }


//* ------------------------------------- article


.book-of-chapters {
    grid-row-gap: 0;
}
.chapter {
  --padding-top:    calc( 4 * var(--row-space, 1rem) );
    padding-top:    var(--padding-top);
  --padding-bottom: calc( 4 * var(--row-space, 1rem) );
    padding-bottom: var(--padding-bottom);
    position: relative;
}
.chapter.isontop { --padding-top: 0; }
.chapter.isonbot { --padding-bottom: 0; }
.chapter-header {
  --margin-top:     calc( 2 * var(--row-space, 1rem) );
    margin-top:     var(--margin-top);
}


//* ------------------------------------- layout shortcuts


.rows {
    @extend .group-content-rows !optional;
}

.nav-header {
    position: sticky;
    top: 0;
    background-color: var(--back-color-accent);
}


/*  EOF Article markup */
