/*  swed-site-head - slim header
 *  v2019.8.1
 */

.swed-site-head {
  --line-height:      1rem;
  --head-background:  var(--background-color, inherit);
  --head-text-color:  var(--color, inherit);
  --head-shadow:      hsla(0, 0%, 100%, 0.25);
    padding-top:      var(--row-space, 1rem);
    background-color: var(--head-background);
               color: var(--head-text-color);

    display:          flex;
    flex-direction:   row;
    flex-wrap:        wrap;
    justify-content:  flex-start;
    align-items:      center;
    align-content:    center;
}
.swed-site-head>* {
    line-height: var(--line-height);
    margin:
        0
        var(--col-space, 1.25rem)
        var(--row-space, 1rem)
        var(--col-space, 1.25rem);
}
.swed-site-meta,
.swed-site-menu {
    list-style:      none;
    padding:         0;

    display:         grid;
    grid-row-gap:    var(--row-space, 1rem);
    grid-column-gap: var(--col-space, 1.25rem);
    grid-auto-flow:  column;
    align-items:     center;
}
.swed-site-menu {
    margin-left:  auto;
}
.swed-site-logo {
    flex-grow:    0;
}
.swed-site-logo a {
    color:     var(--head-shadow);
}
.swed-site-logo span {
    font-size: 1.5em;
    color:     var(--head-text-color);
}

/*  EOF swed-site-head */
