/*  swed-banner - promo blocks with button
 *  v2019.7.31
 */


/* ----------------------------------- settings */


.banner {
  --v-space: var(--row-space, 1rem);
  --h-space: var(--col-space, 1rem);

  --back-color: transparent;
  --text-color: inherit;

  --banner-padding:
      calc( 2 * var(--v-space) )
      0
      var(--v-space)
      0;
}


/* ----------------------------------- main component */


.banner {
    /* group-center */
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: center;
    align-items:     center;
    align-content:   center;
    align-self:      stretch;

    padding: var(--banner-padding);
}
.banner>* {
    margin:  0 var(--h-space) var(--v-space) var(--h-space);
}


/* ----------------------------------- design component */


.swed-banner {
    @extend .banner;
    background-color: var(--back-color);
               color: var(--text-color);
}


/* ----------------------------------- workers */


.group-banners {
    /* group-wide */
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-between;
    align-items:     center;
    align-content:   center;
}
.group-banners>* {
    flex-grow: 1;
}
@media (min-width: 38em) {
    .group-banners:not(.is-big) { flex-wrap: nowrap; }
}
@media (min-width: 1200px) {
    .group-banners { flex-wrap: nowrap; }
}


/*  EOF swed-banner */
