/*  swed-banner - promo blocks with button
 *  v2017.7.29
 */


/* ----------------------------------- settings */


.banner {
  --padding--banner:    calc( 2 * var(--row-space, 1rem) )
                        0;
  --margin--components: var(--row-space, 1rem)
                        var(--col-space, 1.25rem);
}


/* ----------------------------------- main component */


.banner {
    /* group-center */
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: center;
    align-items:     center;
    align-content:   center;
    align-self:      stretch;

    padding: var(--padding--banner);
}
.banner>* {
    margin:  var(--margin--components);
}


/* ----------------------------------- design component */


.swed-banner {
    @extend .banner;
    background-color: var(--background-color);
               color: var(--color);
}


/* ----------------------------------- workers */


.group-banner {
    /* group-wide */
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-between;
    align-items:     center;
    align-content:   center;
}
.group-banner>* {
    flex-grow: 1;
}
@media (min-width: 38em) {
    .group-banner:not(.is-big) { flex-wrap: nowrap; }
}
@media (min-width: 1200px) {
    .group-banner { flex-wrap: nowrap; }
}


.autogrid {
  --cell-size: var(--min-width--text, 24rem);
    display:  grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fill, minmax(var(--cell-size, 24rem), 1fr));
}
.autogrid>* {
    grid-column: span 1;
}
@media (min-width: 48rem) {
    .autogrid>.is-big {
      --size: 2;
        grid-column: span var(--size);
    }
}


/*  EOF swed-banner */
