/** swed-button
 *  Nice buttons with hover zoom
 *  2019.8.22
 *
 *  CSS
 *
 */


/** -------------------------------- Customization */

.swed-button {
 /* default colors */
  --back-color:         hsl( var(--HSL-NobleAction) );
  --back-color-accent:  hsl( var(--HSL-NobleHoverAction) );
  --text-color:         white;
  --shadow-color: var(--shadow-color-for-light-base);

  --padding:          calc(1em/3) var(--col-space, 1rem);
  --margin:           0.25rem;
  --border-radius:    4px;
  --transform-hover:  scale(1.1, 1.1);

  --font-size:        1.5em;
  --line-height:      calc(4/3);
}
.swed-button.is-big {
  --padding:
        var(--row-space, 1rem)
        var(--col-space, 1.25rem);
}


/** -------------------------------- Component */


.swed-button {
  --background-color: var(--back-color);
  --background-hover: var(--back-color-accent);
  --color:            var(--text-color);

    display: inline-block;
    width:   auto;
    width:   fit-content;
    padding: var(--padding);
    margin:  var(--margin);

    font-size:        var(--font-size);
    line-height:      var(--line-height);
    text-align:       center;

    border-radius:    var(--border-radius);
    background-color: var(--background-color);
               color: var(--color);
}


/** -------------------------------- Reset unused styles */

.swed-button,
.swed-button:link,
.swed-button:visited,
.swed-button:hover,
.swed-button:active,
.swed-button:focus,
.swed-button:focus-within {
    border:           0;
    text-decoration:  none;
    background-color: var(--background-color);
               color: var(--color);
}


/** -------------------------------- Hover effect */

/* Do not disable animation on mobile devices */
/* @media screen and (min-width: 900px) { */

    .swed-button {
      --state-value:      0;
      --state-transform:  scale(1, 1);
        transform:   var(--state-transform);
        position:    relative;
        z-index:     var(--state-value);
        will-change: transform;
        transition:  all 0.6s var(--timing-function--focusZoom, ease-out);

       -webkit-font-smoothing:  antialiased;
       -moz-osx-font-smoothing: grayscale;
        font-smooth:            always;
    }
    .swed-button::after {
          content:  '';
          position: absolute;
          z-index:  -1;
          top:       0;
          left:      0;
          width:  100%;
          height: 100%;

          opacity: var(--state-value);
          box-shadow: 0 0.5rem 1rem var(--shadow-color, rgba(0, 0, 0, 0.3));
          border-radius: inherit;
          transition:    inherit;
    }

 /* active state */
    .swed-button:hover,
    .swed-button:focus,
    .swed-button:active,
    .swed-button.is-active {
      --background-color: var(--background-hover);
      --state-transform:  var(--transform-hover);
      --state-value:      1;
    }
 /* dublicate in separate rule */
    .swed-button:focus-within {
      --background-color: var(--background-hover);
      --state-transform:  var(--transform-hover);
      --state-value:      1;
    }

/* } */


/*  EOF swed-button */
