/** - - - - - - - - - - - - - - - - - - Text Paragraph */
/*
    Readable text block has width limit,
    approx ~ 42em in most typefaces, choise of design.

    Minimal readable width for small paragraphs,
    approx ~ 12em.

    Additional mid-value for cards/descriptions.
    approx ~ 24em, wide range.

    Values tested in the 2020 by zl
 */
    :root {
      --paragraph-width--max: 42em;
      --paragraph-width--opt: 32em;
      --paragraph-width--mid: 24em;
      --paragraph-width--min: 12em;
    }
    @media all and (max-width:12em) { :root { --paragraph-width--min: 100%; } }

    .paragraph {
      --max-width: var(--paragraph-width--opt);
      --min-width: var(--paragraph-width--min);
        max-width: var(--max-width);
        min-width: var(--min-width);
    }
    .maxi-paragraph {
      --max-width: var(--paragraph-width--max);
      --min-width: var(--paragraph-width--min);
        max-width: var(--max-width);
        min-width: var(--min-width);
    }
    .midi-paragraph {
      --max-width: var(--paragraph-width--mid);
      --min-width: var(--paragraph-width--min);
        max-width: var(--max-width);
        min-width: var(--min-width);
    }
    .mini-paragraph {
      --max-width: var(--paragraph-width--min);
        max-width: var(--max-width);
    }
