/** base css settings
 *  2021.7.4
 *  zl
 */

/* - - - - - - - - - - - - - - - - - - Spacing */


:root {
  --line-height:   1.5;
  --row-space:     1.5rem;                              /* Vertical */
  --col-space:     1.5rem;                              /* Horizontal */
  --mid-space:     2.5rem;                              /* Bigger 1 */
  --big-space:       4rem;                              /* Bigger 2 */
  --all-space:     var(--row-space) var(--col-space);   /* Combo Shortcode */
}




/** - - - - - - - - - - - - - - - - - - Easing */


:root {
  --timing-function--focusZoom: cubic-bezier(0.165,  0.84,  0.44,  1);
  --timing-function--openJump:  cubic-bezier(0.175,  0.885, 0.320, 1.275);
  --timing-function--closeJump: cubic-bezier(0.600, -0.280, 0.735, 0.045);
  --timing-function--Welcome:   cubic-bezier(0.6,    0.04,  0.98,  0.335);
}




/** - - - - - - - - - - - - - - - - - - Basic Animations */


@keyframes SimplePulse {
    from { transform: scale3d(1, 1, 1); }
    50%  { transform: scale3d(1.05, 1.05, 1.05); }
    to   { transform: scale3d(1, 1, 1); }
}

.appart--pulse {
    animation-name: SimplePulse;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes SimpleRotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

.appart--rotate {
    animation-name: SimpleRotation;
    animation-duration: 1s;
}

@keyframes DanceLikeHappy {
      0% { transform: rotate( 13deg) scale(2); }
     25% { transform: rotate(  0deg);          }
     50% { transform: rotate(-13deg) scale(2); }
     75% { transform: rotate(  0deg);          }
    100% { transform: rotate( 13deg) scale(2); }
}

.appart--dance-like-happy {
    animation-name:            SimpleDancer;
    animation-duration:        800ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform:        rotate(0);
    transform-origin: bottom center;
}

@keyframes ShakeLikeRefuse {
    10%, 90%      { transform: translate3d(-1px, 0, 0); }
    20%, 80%      { transform: translate3d( 2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60%      { transform: translate3d( 4px, 0, 0); }
}

.appart--shake-like-refuse:hover {
    animation-name:            ShakeLikeRefuse;
    animation-duration:        0.82s;
    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
    animation-fill-mode:       both;
    transform:           translate3d(0, 0, 0);
    perspective:         1000px;
    backface-visibility: hidden;
}

/** Animation Shortcuts

    animation-name:            my-animation;
    animation-duration:        1s;
    animation-iteration-count: 1;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.4,0,0.2,1);
    animation-fill-mode:       forwards;
    animation-direction:       normal;
    animation-delay:           2s;
    animation-play-state:      initial;

*/

@media screen and (prefers-reduced-motion: reduce) {
    /* do less animations */
}
@media screen and (prefers-reduced-motion: no-preference) {
    /* do animations */
}




/** - - - - - - - - - - - - - - - - - - Markup */


/** Minimal box model */
    *, *:before, *:after { box-sizing: border-box; }
    html                 { height: 100%; }
    html, body           { margin: 0; padding: 0; }

/** Full-height 2019
    https://css-tricks.com/some-things-you-oughta-know-when-working-with-viewport-units/
*/  body {
        min-height:  100vh;
        min-height: -webkit-fill-available;
        min-height: -moz-available;
        min-height:  available;
        min-height: -webkit-stretch;
        min-height: -moz-stretch;
        min-height:  stretch;
    }

/** Scroll behavoir */
    html { scroll-behavior: smooth; cursor: default; }
    body { overflow-y: scroll; }

/** Tap on clickable element */
    a, area, button, input, label, select, summary, textarea, [tabindex] {
       -ms-touch-action: manipulation;
           touch-action: manipulation;
    }


/** Clear design for semantic markup */

    figure, figcaption, fieldset, legend {
        display: block;
        margin:  0;
        padding: 0;
        border:  0;
        white-space: normal;
    }

    main, article, section, aside, header, footer, nav {
        display: block;
    }

    pre, code {
        display: block;
    }

    h1, h2, h3, h4, h5, h6 {
        margin:  0;
        padding: 0;
        font-family: inherit;
        font-size:   inherit;
        line-height: inherit;
        font-weight: inherit;
    }

    p, blockquote {
        margin:  0;
        padding: 0;
        font:    inherit;
    }

    button {
        padding:    0.25rem 1.5rem;
        border:     0;
        font:       inherit;
      --background-color: var(--back-color-accent, transparent);
        background-color: var(--background-color);
      --color:            var(--text-color, inherit);
        color:            var(--color);
    }

    a { color: inherit; }

    ul, ol {
        padding:  0;
        margin:   0;
        margin-left: var(--col-space, 1.5rem);
    }

    nav ul, nav ol {
        margin-left: 0;
    }

    td, th {
        text-align:     left;
        vertical-align: top;
        padding-top:    0.25em;
        padding-bottom: 0.25em;
    }

    hr {
        background: transparent;
        box-shadow: none;
        border:  0;
        margin:  0;

     /* use as empty space */
        display:    block;
        font-size:  inherit;
        height:     var(--mid-space, 2.5rem);
    }


/** Use images and media as illustration blocks */

    img, svg, canvas {
        display:   block;
        max-width: 100%;
        margin:    0;
        padding:   0;
        border:    0;
    }
    figure, figcaption {
        display:   block;
        max-width: 100%;
        margin:    0;
        padding:   0;
        border:    0;
    }
    iframe, embed, object {
        display:   block;
        max-width: 100%;
        margin:    0;
        padding:   0;
        border:    0;
    }




/** - - - - - - - - - - - - - - - - - - Typography */


body {
    line-height: var(--line-height, 1.5);
    font-family: var(--font-family, sans-serif);
    font-weight: var(--font-weight, normal);
 /* font-size:   is unset by default */

 /* store base values */
  --base-font-size:   1rem;
  --base-line-height: var(--line-height);

 /* Decrease vertical padding on text paragraphs, to
    make them visually equal with horizontal paddings.
    Pixel-perfect value depends on font-family. */
  --base-font-square-ratio: 0.25;
}
.font-primary   { font-family: var(--font-family, sans-serif); }
.font-secondary { font-family: var(--font-family-secondary, serif); }
.native-sans    { font-family: var(--font-family--native-sans, sans-serif); }


/** Font rendering */
    html {
       -ms-text-size-adjust:     100%;
       -webkit-text-size-adjust: 100%;
    }
    body {
        text-rendering: optimizeLegibility;
       -webkit-font-smoothing: antialiased;
    }


/** appart default font settings */
    :root {
      --font-family:             var(--font-family--tufte-serif);
      --font-family-secondary:   var(--font-family--tufte-sans);
      --font-family-interface:   var(--font-family--native-sans);
      --font-weight:             400;
    }
    @supports (hanging-punctuation: first) {
           * { hanging-punctuation: first; }
    }

    /* Features Inspector: wakamaifondue.com */

    .font-feature-digital {
        font-feature-settings:
            'lnum' on,
            'ss14' on,
            'ss17' on;
    }
    .sup-num {
        font-size:             inherit;
        vertical-align:        text-top;
        font-feature-settings: 'sups' on;
    }
    .sub-num {
        font-size:             inherit;
        vertical-align:        text-bottom;
        font-feature-settings: 'subs' on;
    }

/** Native font stack 2018 */
:root {
  --font-family--native-sans:
       -apple-system,        /* Safari for macOS and iOS (San Francisco) */
        system-ui,           /* macOS Chrome, Windows Chrome */
        BlinkMacSystemFont,  /* Chrome < 56 for macOS (San Francisco) */
       "Segoe UI",           /* Windows */
        Roboto,              /* Android */
        Oxygen,              /* KDE */
        Ubuntu,              /* Ubuntu */
        Cantarell,           /* GNOME */
       "Fira Sans",          /* Firefox OS */
       "Helvetica Neue",     /* old macOS */
        Arial,               /* Basic web fallback */
        sans-serif,
       "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* Emoji */
}

/** Tufte 2018
 *  book-style design
 *  @import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700&subset=cyrillic');
 */
:root {
  --font-family--tufte-serif:
        Vollkorn,
        et-book,
        Palatino,
       "Palatino Linotype",
       "Palatino LT STD",
       "Book Antiqua",
        Georgia,
        serif,
       "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family--tufte-sans:
       "Trebuchet MS",
       "Gill Sans",
       "Gill Sans MT",
        sans-serif,
       "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/** Paragraph component */

/*
    Readable text block has width limit,
    approx ~ 42em in most typefaces, choise of design.

    Minimal readable width for small paragraphs,
    approx ~ 12em.

    Additional mid-value for cards/descriptions.
    approx ~ 24em, wide range.

    Values tested in the 2020 by zl
 */
    :root {
      --paragraph-width--max: 42em;
      --paragraph-width--opt: 32em;
      --paragraph-width--mid: 24em;
      --paragraph-width--min: 12em;
    }
    @media all and (max-width:12em) { :root { --paragraph-width--min: 100%; } }

    .paragraph {
      --max-width: var(--paragraph-width--opt);
      --min-width: var(--paragraph-width--min);
        max-width: var(--max-width);
        min-width: var(--min-width);
    }
    .maxi-paragraph {
      --max-width: var(--paragraph-width--max);
      --min-width: var(--paragraph-width--min);
        max-width: var(--max-width);
        min-width: var(--min-width);
    }
    .midi-paragraph {
      --max-width: var(--paragraph-width--mid);
      --min-width: var(--paragraph-width--min);
        max-width: var(--max-width);
        min-width: var(--min-width);
    }
    .mini-paragraph {
      --max-width: var(--paragraph-width--min);
        max-width: var(--max-width);
    }


/** Font-size system LH 1.5 */

    :root {
     /* 64/80 */
      --h1-font-size:    4rem;
      --h1-line-height:  1.25;

     /* 48/60 */
      --h2-font-size:    3rem;
      --h2-line-height:  1.25;

     /* 36/48 */
      --h3-font-size:    2.25rem;
      --h3-line-height:  calc(4/3);

     /* 24/32 */
      --h4-font-size:    1.5rem;
      --h4-line-height:  calc(4/3);

     /* 20/24 */
      --h5-font-size:    1.25rem;
      --h5-line-height:  1.2;

     /* 16/24 */
      --h6-font-size:    1rem;
      --h6-line-height:  1.5;
      --p-font-size:     1rem;
      --p-line-height:   1.5;


     /* 20/24 */
      --inc-font-size:   1.25em;
      --inc-line-height: 1.2;

     /* 16/24 */
      --def-font-size:   1em;
      --def-line-height: 1.5;

     /* 13/16 */
      --dec-font-size:   calc(13/16*1em);
      --dec-line-height: calc(16/13);

     /* 12/16 */
      --doz-font-size:   0.75em;
      --doz-line-height: calc(4/3);
    }

@media all and (max-width:42em) {
    :root {
     /* 36/40 */
      --h1-font-size:    2.25rem;
      --h1-line-height:  calc(40/36);
     /* 32/36 */
      --h2-font-size:    2rem;
      --h2-line-height:  calc(36/32);
     /* 28/32 */
      --h3-font-size:    1.75rem;
      --h3-line-height:  calc(32/28);
    }
}

/** Font-size */

.h1 {
    font-size:   var(--h1-font-size);
    line-height: var(--h1-line-height);}
.h2 {
    font-size:   var(--h2-font-size);
    line-height: var(--h2-line-height);}
.h3 {
    font-size:   var(--h3-font-size);
    line-height: var(--h3-line-height);}
.h4 {
    font-size:   var(--h4-font-size);
    line-height: var(--h4-line-height);}
.h5 {
    font-size:   var(--inc-font-size);
    line-height: var(--inc-line-height);}
.h6 {
    font-size:   var(--p-font-size);
    line-height: var(--p-line-height);}

.text-inline-bigger {
 /* 20/24 */
  --font-size:   var(--inc-font-size, 1.25em);
  --line-height: var(--inc-line-height, 1.2);
    font-size:   var(--font-size);
    line-height: var(--line-height);
}
.text-block-bigger {
 /* 20/32 */
  --font-size:   var(--inc-font-size, 1.25em);
  --line-height: calc(32/20);
    font-size:   var(--font-size);
    line-height: var(--line-height);
}
.text-inline-smaller,
.text-block-smaller {
 /* 13/16 */
  --font-size:   var(--dec-font-size,   calc(13/16*1em));
  --line-height: var(--dec-line-height, calc(16/13));
    font-size:   var(--font-size);
    line-height: var(--line-height);
}
.em-reset {
    font-size:   var(--base-font-size,   1rem);
    line-height: var(--base-line-height, 1.5);
}


/** - - - - - - - - - - - - - - - - - - Markup workers */



/*  EOF base css settings */
