/*  Universal helpers
 *  2019.7.14
 */


/* ------------------------------------------ layout */


.group-wide {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-between;
    align-items:     center;
    align-content:   center;
}
.group-center {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: center;
    align-items:     center;
    align-content:   center;
}

.is-chapter:not(.is-on-top)    { padding-top:    2rem; }
.is-chapter:not(.is-on-bottom) { padding-bottom: 2rem; }


/* ------------------------------------------ paddings */


.pb    { padding-bottom: 1rem; }
.pt    { padding-top:    1rem; }
.has-paddings { padding: 1rem; }


/* ------------------------------------------ univeral helpers */


.is-centered {
    text-align:      center;
    justify-content: center;
    align-self:      center;
}

.layer {
    display:     block;
    grid-column: full;
}


/* EOF Universal helpers */
