/** base css settings
 *  2019.7.16
 */


:root,
.root-settings {

  --line-height:   1.5;

 /* Default vertical and horizontal spacing */

  --row-space:     1.5rem;
  --col-space:     1.5rem;
  --all-space:     var(--row-space) var(--col-space);

 /* z-indexes order */

  --z-index--sidebar: 100;

}


/*  EOF base css settings */
