/*  Universal helpers
 *  v2019.7.31
 */


/* ------------------------------------------ layout */


.group-wide {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-between;
    align-items:     center;
    align-content:   center;
}
.group-center {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: center;
    align-items:     center;
    align-content:   center;
}

.group-content-rows {
    display:         grid;
    align-items:     start;
    justify-content: start;
    grid-auto-flow:  row;
    grid-auto-rows:  min-content;
    grid-row-gap:    var(--row-space, 1rem);
    grid-column-gap: 0;
    grid-template-columns: [full] auto;
}
    .group-content-rows>* {
        grid-column: full;
    }

.autogrid {
  --cell-size: 100%;
    display:   grid;
    grid-gap:  0;
    grid-template-columns: repeat(auto-fill, minmax(var(--cell-size), 1fr));
}
    .autogrid>* {
        grid-column: span 1;
    }
    @media (min-width: 24rem) {
        .autogrid {
          --cell-size: var(--min-width--text, 24rem);
        }
    }
    @media (min-width: 48rem) {
        .autogrid>.is-big {
          --size: 2;
            grid-column: span var(--size);
        }
    }

.is-chapter:not(.isontop):not(.is-on-top)    { padding-top:    calc( 2*var(--row-space, 1rem) ); }
.is-chapter:not(.isonbot):not(.is-on-bottom) { padding-bottom: calc( 2*var(--row-space, 1rem) ); }


/* ------------------------------------------ paddings */


.no-paddings  { padding: 0; }
.has-paddings { padding: var(--row-space, 1rem) var(--col-space, 1rem); }

.pt, .pv {
  --padding-top:    var(--row-space, 1rem);
    padding-top:    var(--padding-top);
}
.pb, .pv {
  --padding-bottom: var(--row-space, 1rem);
    padding-bottom: var(--padding-bottom);
}
.mt, .mv {
  --margin-top:     var(--row-space, 1rem);
    margin-top:     var(--margin-top);
}
.mb, .mv {
  --margin-bottom:  var(--row-space, 1rem);
    margin-bottom:  var(--margin-bottom);
}


/* ------------------------------------------ univeral helpers */


.is-centered {
    text-align:      center;
    justify-content: center;
    align-self:      center;
}

.layer {
    display:     block;
    grid-column: full;
}


/*  EOF Universal helpers */
