/*  base css settings
 *  2019.7.16
 */


:root {

  --line-height:   1.5;

 /* Default vertical and horizontal spacing.
    Are different to make equal visual spacing over text.  */

  --row-space:    1rem;
  --col-space: 1.25rem;
  --all-space: var(--row-space) var(--col-space);

 /* z-indexes order */

  --z-index--sidebar: 100;

}


/*  EOF base css settings */
