/** typography
 *  All about font and line-height
 *  2019.8.23
 *
 *  CSS
 *
 */


/** -------------------------------- Typeface collections */


:root,
.root-typography {

/** Native font stack 2018 */

  --font-family--native-sans:
       -apple-system,        /* Safari for macOS and iOS (San Francisco) */
        system-ui,           /* macOS Chrome, Windows Chrome */
        BlinkMacSystemFont,  /* Chrome < 56 for macOS (San Francisco) */
       "Segoe UI",           /* Windows */
        Roboto,              /* Android */
        Oxygen,              /* KDE */
        Ubuntu,              /* Ubuntu */
        Cantarell,           /* GNOME */
       "Fira Sans",          /* Firefox OS */
       "Helvetica Neue",     /* old macOS */
        Arial,               /* Basic web fallback */
        sans-serif,
       "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* Emoji */


/** Tufte 2018 */
/*
    book-style content
    @import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700&subset=cyrillic');
 */
  --font-family--tufte-serif:
        Vollkorn,
        et-book,
        Palatino,
       "Palatino Linotype",
       "Palatino LT STD",
       "Book Antiqua",
        Georgia,
        serif,
       "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family--tufte-sans:
       "Trebuchet MS",
       "Gill Sans",
       "Gill Sans MT",
        sans-serif,
       "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/** Typeface atoms */

.font-secondary {
    font-family: var(--font-family-secondary);
}
.native-sans {
    font-family: var(--font-family--native-sans);
}


/** -------------------------------- paragraph component */
/*
    Readable text block has width limit,
    approx ~ 42em in most typefaces, choise of design.

    Minimal readable width for small paragraphs,
    approx ~ 12em.

    Additional mid-value for cards/descriptions.
    approx ~ 24em, wide range.
 */


:root,
.root-typography {
  --paragraph-width--max: 42em;
  --paragraph-width--mid: 24em;
  --paragraph-width--min: 12em; }
@media all and (max-width:12em) {
    :root,
    .root-typography {
      --paragraph-width--min: 100%;
    }
}

body {
  --paragraph-width: var(--paragraph-width--max);
}

.paragraph {
  --max-width: var(--paragraph-width);
    max-width: var(--max-width);
  --min-width: var(--paragraph-width--min);
    min-width: var(--min-width);
}
.midi-paragraph {
  --max-width: var(--paragraph-width--mid);
    max-width: var(--max-width);
  --min-width: var(--paragraph-width--min);
    min-width: var(--min-width);
}
.mini-paragraph {
  --max-width: var(--paragraph-width--min);
    max-width: var(--max-width);
}


/** -------------------------------- font-size system LH 1.5 */


:root,
.root-typography {
 /* 64/80 */
  --h1-font-size:    4em;
  --h1-line-height:  1.25;

 /* 48/60 */
  --h2-font-size:    3em;
  --h2-line-height:  1.25;

 /* 36/48 */
  --h3-font-size:    2.25em;
  --h3-line-height:  calc(4/3);

 /* 24/32 */
  --h4-font-size:    1.5em;
  --h4-line-height:  calc(4/3);

 /* 20/24 */
  --inc-font-size:   1.25em;
  --inc-line-height: 1.2;
  --h5-font-size:    var(--inc-font-size);
  --h5-line-height:  var(--inc-line-height);

 /* 16/24 */
  --p-font-size:     1em;
  --p-line-height:   1.5;
  --h6-font-size:    var(--p-font-size);
  --h6-line-height:  var(--p-line-height);
  --def-font-size:   var(--p-font-size);
  --def-line-height: var(--p-line-height);

 /* 13/16 */
  --dec-font-size:   calc(13/16*1em);
  --dec-line-height: calc(16/13);

 /* 12/16 */
  --doz-font-size:   0.75em;
  --doz-line-height: calc(4/3);
}
@media all and (max-width:42em) {
    :root,
    .root-typography {
     /* 36/40 */
      --h1-font-size:    2.25em;
      --h1-line-height:  calc(40/36);
     /* 32/36 */
      --h2-font-size:    2em;
      --h2-line-height:  calc(36/32);
     /* 28/32 */
      --h3-font-size:    1.75em;
      --h3-line-height:  calc(32/28);
    }
}

.h1 {
    font-size:   var(--h1-font-size);
    line-height: var(--h1-line-height);
}
.h2 {
    font-size:   var(--h2-font-size);
    line-height: var(--h2-line-height);
}
.h3 {
    font-size:   var(--h3-font-size);
    line-height: var(--h3-line-height);
}
.h4 {
    font-size:   var(--h4-font-size);
    line-height: var(--h4-line-height);
}
.h5 {
    font-size:   var(--inc-font-size);
    line-height: var(--inc-line-height);
}
.h6 {
    font-size:   var(--p-font-size);
    line-height: var(--p-line-height);
}

/** Font-size atoms */

.text-inline-bigger {
 /* 20/24 */
  --font-size:   var(--inc-font-size, 1.25em);
    font-size:   var(--font-size);
  --line-height: var(--inc-line-height, 1.2);
    line-height: var(--line-height);
}
.text-block-bigger {
 /* 20/32 */
  --font-size:   var(--inc-font-size, 1.25em);
    font-size:   var(--font-size);
    line-height: calc(32/20);
}
.text-inline-smaller,
.text-block-smaller {
 /* 13/16 */
  --font-size:   var(--dec-font-size,   calc(13/16*1em));
    font-size:   var(--font-size);
  --line-height: var(--dec-line-height, calc(16/13));
    line-height: var(--line-height);
}

/** Reset em-value in element */

.em-reset {
    font-size:   var(--base-font-size,   1rem);
    line-height: var(--base-line-height, 1.5);
}


/** -------------------------------- extra features */


@supports (hanging-punctuation: first) {
       * { hanging-punctuation: first; }
}

/** Font rendering */
html {
   -ms-text-size-adjust:     100%;
   -webkit-text-size-adjust: 100%;
}
body {
    text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
}


/** -------------------------------- system base */


:root,
.root-typography {
  --font-family:             var(--font-family--tufte-serif);
  --font-family-secondary:   var(--font-family--tufte-sans);
  --font-family-interface:   var(--font-family--native-sans);
  --font-weight:             400;
  --line-height:             1.5;
}

body {
    line-height: var(--line-height);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
 /* font-size is unset */

 /* save constant values */
  --base-font-size:   1rem;
  --base-line-height: var(--line-height);

 /* Decrease vertical paddings by ratio value * 1em,
    to make visually equal paddings over text paragraph. */
  --base-font-square-ratio: 0.25;
}


/*  EOF Typography */
