.banner-ninini.ennoia-theme {

  --back-color: slategray;
  --animation-fulltime: 12s;
  --animation-function: ease-in-out;

 /* how image is zoomed */
  --scaleA: 1;
  --scaleB: 1.1;

 /* image crop alignment */
  --coverA:    top right;
  --coverB: bottom right;

  --layer1-image:    url(../art/welcome/ninini-mask1.svg);
  --layer2-image:    url(../art/welcome/ninini-mask2.svg);
}

/** main layer for background image */

.banner-ninini.ennoia-theme {
  --layer0-frameset: timeline-ennoia-ninini-img;
  --layer0-function: cubic-bezier(0.165,  0.84,  0.44,  1); /*SmoothFocus*/
}
@keyframes timeline-ennoia-ninini-img {
    0% {
        transform: scale(var(--scaleA));
    }
    40% {
        transform: scale(var(--scaleB));
    }
    100% {
        transform: scale(var(--scaleA));
    }
}

/** layers for effects */

.banner-ninini.ennoia-theme {
  --layer1-frameset: timeline-ennoia-ninini-noize-1;
  --layer1-opacityA: 0.25;
  --layer1-opacityB: 0.50;

  --layer2-frameset: timeline-ennoia-ninini-noize-2;
  --layer2-opacityA: 0.20;
  --layer2-opacityB: 0.05;
}
@keyframes timeline-ennoia-ninini-noize-1 {
    0% {
        transform: scale(var(--scaleA));
        opacity: var(--layer1-opacityA);
    }
    10% {
        transform: scale(var(--scaleA));
    }
    44% {
        transform: scale(var(--scaleB));
        opacity: var(--layer1-opacityB);
    }
    60% {
        opacity: var(--layer1-opacityA);
    }
    90% {
        transform: scale(var(--scaleA));
    }
    100% {
        opacity: var(--layer1-opacityA);
    }
}
@keyframes timeline-ennoia-ninini-noize-2 {
    0% {
        transform: scale(var(--scaleA));
        opacity: var(--layer2-opacityA);
    }
    36% {
        transform: scale(var(--scaleB));
        opacity: var(--layer2-opacityB);
    }
    60% {
        opacity: var(--layer2-opacityA);
    }
    80% {
        transform: scale(var(--scaleA));
        opacity: var(--layer2-opacityB);
    }
    100% {
        opacity: var(--layer2-opacityA);
    }
}

/** layout */

.banner-ninini {
    background-color: var(--back-color);
    position:   relative; z-index: 0;
    width:      100%;
    min-height: 100vh;
    overflow:   hidden;
}
.el-ninini-intro {
    position: absolute; z-index: -1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
}
.el-ninini-img {
    display:          block;
    min-height:       100%;
    min-width:        100%;
    object-fit:       cover;
    object-position:  var(--coverA);
}
.el-ninini-message {
    pointer-events: all;
    position: absolute; z-index: 1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;

    display:          flex;
    align-content:    flex-end;
    align-items:      flex-end;
    justify-content:  flex-start;

    font-size: 10vmax;
    line-height: 0.75;
    padding:  20vh 4vw;
    color: hsla(0,0%,0%,0.8);
}
.el-ninini-message>a {
    text-decoration: none;
}

/** layers threesome */

.ban-ninini-figure::before,
.ban-ninini-figure::after,
.ban-ninini-figure .el-ninini-intro {
    transition-property:        transform;
    transition-duration:        var(--animation-fulltime);
    transition-timing-function: var(--layer0-function);
    transform-origin:           var(--coverB);
  --animation-name:             var(--layer0-frameset);
    animation:
        var(--animation-name)
        var(--animation-fulltime)
        infinite
        var(--animation-function);
}
.ban-ninini-figure::before,
.ban-ninini-figure::after {
    content:  '';
    pointer-events: none;
    position: absolute; z-index:1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;

  --background-image:           var(--layer1-image);
    background-image:           var(--background-image);
    background-position:        var(--coverA);
    background-size:            cover;
    background-repeat:          no-repeat;
}
.ban-ninini-figure::after {
  --background-image:           var(--layer1-image);
  --animation-name:             var(--layer1-frameset);
}
.ban-ninini-figure::before {
  --background-image:           var(--layer2-image);
  --animation-name:             var(--layer2-frameset);
}

/** back screen */

.welcome-back-screen {
    position: relative; z-index: 0;
    width:  100%;
    height: 100vh;
}
.welcome-back-screen>* {
    position: fixed; z-index: -1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
}
.welcome-back-screen::after {
    content:  '';
    pointer-events: none;
    position: absolute; z-index: -1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
  --opacity:  0;
    opacity:  var(--opacity);
    background-color: black;
    transition-property:        opacity;
    transition-duration:        360ms;
    transition-timing-function: cubic-bezier(0.6, 0.04,  0.98,  0.335);
}

.welcome-back-screen.is-hidden::after {
  --opacity:  0.8;
}
.welcome-front-screen {
    position: relative; z-index: 0;
    min-height: 100vh;
    box-shadow: 0 0 2rem black;
    background-color: white;
}
.header-ninini {
    width:  100%;
    height: 100vh;
    overflow: hidden;
}
.hdr-ninini-figure {
    width:  100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.el-ninini-promo {
    max-width: 80vw;
}
.el-ninini-promo-img {
  --opacity: 0;
  --scale:   1.05;
  --moveXY:  0, 5%;
    opacity:   var(--opacity);
    transform: scale(var(--scale)) translate(var(--moveXY));
    transform-origin: top center;
    transition-property:        opacity, transform;
    transition-duration:        240ms;
    transition-timing-function: cubic-bezier(0.6, 0.04,  0.98,  0.335);
}
.el-ninini-promo-img.is-active {
  --opacity: 1;
  --scale:   1;
  --moveXY:  0, 0;
}


.el-topmenu {
    position: relative; z-index: 2;
    display:          flex;
    align-content:    center;
    align-items:      center;
    justify-content:  center;
    background-color: hsl(204, 22%, 55%);
    color:            hsl(226, 27%, 90%);
    box-shadow:       0 0 2rem black;

    transition-property:        opacity, transform;
    transition-duration:        240ms;
    transition-timing-function: cubic-bezier(0.6, 0.04,  0.98,  0.335);
}
.topmenu-link {
    padding: 0.5rem 1rem;
    color: inherit;
    text-decoration: none;
    opacity: 0.64;
    transform: scale(1);
    transform-origin: top center;
    transition-property:        opacity, transform;
    transition-duration:        240ms;
    transition-timing-function: cubic-bezier(0.6, 0.04,  0.98,  0.335);
}
.topmenu-link:hover {
    opacity: 1;
    background-color: rgba(0,0,0,0.05);
}
.welcome-back-screen.is-hidden .el-topmenu {
    opacity: 0;
}

.squares {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    max-width: 44rem;
    margin: 0 auto;
    padding: 4rem 1rem;
    background-color: white;
}
.squares>* {
    background-color: rgba(0,0,0,0.1);
    padding-top: 100%;
}
