.banner-ninini.ennoia-theme {
  --back-color:     slategray;

  --animation-fulltime: 20s;
  --animation-function: ease-in-out;
  --img-layer-frameset: timeline-ennoia-ninini-img;
  --img-layer-cover:    top right;
  --img-layer-cover-to: bottom right;
  --img-layer-scale:    1;
  --img-layer-scale-to: 1.1;
  --img-layer-function: cubic-bezier(0.165,  0.84,  0.44,  1); /*SmoothFocus*/

  --nza-layer-frameset: timeline-ennoia-ninini-noize-a;
  --nzb-layer-frameset: timeline-ennoia-ninini-noize-b;

}
@keyframes timeline-ennoia-ninini-img {
    0% {
        transform: scale( var(--img-layer-scale) );
    }
    40% {
        transform: scale( var(--img-layer-scale-to) );
    }
    100% {
        transform: scale( var(--img-layer-scale) );
    }
}
@keyframes timeline-ennoia-ninini-noize-a {
    0% {
        transform: scale( var(--img-layer-scale) );
        opacity: 0.25;
    }
    44% {
        transform: scale( var(--img-layer-scale-to) );
        opacity: 0.5;
    }
    60% {
        opacity: 0.25;
    }
    90% {
        transform: scale( var(--img-layer-scale) );
        opacity: 0.25;
    }
    100% {
        opacity: 0.25;
    }
}
@keyframes timeline-ennoia-ninini-noize-b {
    0% {
        transform: scale( var(--img-layer-scale) );
        opacity: 0.5;
    }
    36% {
        transform: scale( var(--img-layer-scale-to) );
        opacity: 0.2;
    }
    60% {
        opacity: 0.5;
    }
    80% {
        transform: scale( var(--img-layer-scale) );
        opacity: 0.2;
    }
    100% {
        opacity: 0.5;
    }
}


.ban-ninini {
    position:   relative; z-index: 0;
    width:      100%;
    min-height: 100vh;
    overflow:   hidden;

    background-color: var(--back-color);
}

.ban-ninini-figure {
}

.el-ninini-picture {
    position: absolute; z-index: -1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
    transform-origin: var(--img-layer-cover-to);
    transition:       transform;
    transition-duration:        var(--animation-fulltime);
    transition-timing-function: var(--img-layer-function);
    animation:
        var(--img-layer-frameset)
        var(--animation-fulltime)
        infinite
        var(--animation-function);
}
.el-ninini-img {
    position:         relative; z-index: 0;
    display:          block;
    min-height:       100%;
    min-width:        100%;
    object-fit:       cover;
    object-position:  var(--img-layer-cover);
}
.ban-ninini-figure::after {
    content:  '';
    position: absolute; z-index:1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
    background-image:    url(../art/welcome/ninini-mask-b.svg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: var(--img-layer-cover);

    transform-origin: var(--img-layer-cover-to);
    transition:       transform;
    transition-duration:        var(--animation-fulltime);
    transition-timing-function: var(--img-layer-function);
    animation:
        var(--nza-layer-frameset)
        var(--animation-fulltime)
        infinite
        var(--animation-function);
}
.ban-ninini-figure::before {
    content:  '';
    position: absolute; z-index:1;
    top:      0;
    right:    0;
    bottom:   0;
    left:     0;
    background-image:    url(../art/welcome/ninini-mask-a.svg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: var(--img-layer-cover);

    transform-origin: var(--img-layer-cover-to);
    transition:       transform;
    transition-duration:        var(--animation-fulltime);
    transition-timing-function: var(--img-layer-function);
    animation:
        var(--nzb-layer-frameset)
        var(--animation-fulltime)
        infinite
        var(--animation-function);
}
