<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- app quickseed 2020.2.22 ninini -->

    <!-- ===================================== HEAD CONTENT -->


    <title>VH Screen</title>
    <meta name="description" content="">
    <meta name="author"      content="zl">


    <!-- ===================================== BOOT SERVICE -->


    <!-- ༼°▽°༽ style boot -->
    <style>
        html       { margin:0; padding:0  0.25rem; }
        body       { margin:0; padding:0; width:100%; height:auto; }
        img,svg,hr { margin:0; border: 0; display:block; max-width:100%; }
        body       { overflow-y: scroll; }
    </style>


    <!-- ===================================== GOOGLE FONTS -->


    <!-- ༼°▽°༽ prefetch boot -->
    <link rel="preconnect"   href="//fonts.gstatic.com" crossorigin>

    <link
        media="all"
        href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700&subset=cyrillic"
        rel="stylesheet">
    <style>
        body {
          --font-family: Vollkorn, Georgia, serif;
            font-family: var(--font-family);
        }
    </style>


    <!-- ===================================== DESIGN -->

    <!-- ===================================== CUSTOM -->

    <!-- =====================================  ʕ⊙ᴥ⊙ʔ -->
    <!-- ===================================== HEAD END -->

</head>
<body class="colors--primary">

<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Reframe -->

<script>

    ///*/// Lord Reframe

    function ReframeExecution (dna) {
        const {event,f,once} = dna

    //  Web API 2020

      //window.addEventListener
        window.requestAnimationFrame =
        window.requestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.mozRequestAnimationFrame ;

        const EVL =
              window.addEventListener
        const RAF =
              window.requestAnimationFrame ||
              window.webkitRequestAnimationFrame ||
              window.mozRequestAnimationFrame ;

    //  Actors

        const ListenTo = o => window.addEventListener( o.event, o.f )
        const Reaction = e => {
            // save state
            // request tick
        }
        const DoAction = o => {
             !activity && RAF(exe)
              activity = true
        }
        const DoAction = o => {
            !!havetime && RAF(exe)
              havetime = false
        }
        const InAction = false
        Activity
        InAction
        havetime
            inFreeState
            readyToRun
            available*
        let isInAction
        let permission = true
        const Executed = o => {
            !!f && f() // mission complete
            //if (!once)
        }
              
      //const 


        // Debouncer pattern
        function LordReframe (f) {
            this.callback = f
            this.callstop = false
        }
        LordReframe.prototype = {

        }

    //  Action

        // wrap f to reaction
        
        
        Reaction = ... REQ
        ListenTo({event,f:Reaction})

        
    }

    /* Usage example

    f = action
    ReframeExecution({event:'resize',f})

///*///



</script>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTENT -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ CONTENT -->




<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BODY END -->

</body>
</html>
