<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- app quickseed 2020.2.22 ninini -->

    <!-- ===================================== HEAD CONTENT -->


    <title>VH Screen</title>
    <meta name="description" content="">
    <meta name="author"      content="zl">


    <!-- ===================================== BOOT SERVICE -->


    <!-- ༼°▽°༽ style boot -->
    <style>
        html       { margin:0; padding:0  0.25rem; }
        body       { margin:0; padding:0; width:100%; height:auto; }
        img,svg,hr { margin:0; border: 0; display:block; max-width:100%; }
        body       { overflow-y: scroll; }
    </style>


    <!-- ===================================== GOOGLE FONTS -->


    <!-- ༼°▽°༽ prefetch boot -->
    <link rel="preconnect"   href="//fonts.gstatic.com" crossorigin>

    <link
        media="all"
        href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700&subset=cyrillic"
        rel="stylesheet">
    <style>
        body {
          --font-family: Vollkorn, Georgia, serif;
            font-family: var(--font-family);
        }
    </style>


    <!-- ===================================== DESIGN -->

    <!-- ===================================== CUSTOM -->

    <!-- =====================================  ʕ⊙ᴥ⊙ʔ -->
    <!-- ===================================== HEAD END -->

</head>
<body class="colors--primary">

<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Reframe -->

<script>

    ///*///  Begin
    function GoodEventLauncher (DNA) {

    //  Description
    //  Event listener combined with animation frame
    //  2020.10.2

        const {event}   = DNA // Event name
        const {on}      = DNA // Event target
        const {f}       = DNA // Function to launch
        const {prepare} = DNA // Function to launch out of frame
        const {capture} = DNA // Event API option
        const {once}    = DNA // Event API option
        const {passive} = DNA // Event API option
        const listen = { capture, once, passive }

    //  Web API 2020

        const RAF =
            window.requestAnimationFrame       ||
            window.webkitRequestAnimationFrame ||
            window.mozRequestAnimationFrame    ||
            f=>f();

    //  Workflow description

        const Worker = (!!on && on.addEventListener && on) || window
        const GetJob = o => Worker.addEventListener( o.event, o.to, listen )
        const StopIt = o => Worker.removeEventListener( o.event, o.to, listen )

        let   Vacant = true // debouncing pattern
        const Launch = o => { !!f      && f()         ; Vacant = true  }
        const DoWork = o => { !!Vacant && RAF(Launch) ; Vacant = false }
        const Action = e => DoWork( !!prepare && prepare(e) )

    //  API

        let RNA = this
        RNA.Polymerase = dna => Object.assign(RNA, dna)
        RNA.start  = o => GetJob({ event, to:Action })
        RNA.stop   = o => StopIt({ event, to:Action })

    //  Run

        RNA.Polymerase(DNA)
        RNA.start()

    //  Usage example
    //  f = some action
    //  GoodEventLauncher({ f, event:'resize' })
    //  GoodEventLauncher({ f, event:'click', on:element, once:true })

    }
    ///*/// End


</script>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTENT -->
<!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ CONTENT -->




<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BODY END -->

</body>
</html>
