
//* ------------------------------------- pending components


.nav-header {
    position: sticky;
    top:      0;
    z-index:  1;
  --padding-top:    0.25em;
  --padding-bottom: 0.25em;
  --menu-icon-placeholder: 2em;
    padding-top:    var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.nav-header>* {
    padding-right:  var(--menu-icon-placeholder);
}

.nav-fly {
    position: fixed;
    z-index:  3;
    top:      0;
    right:    0;
    width:  2em;
    height: 2em;

    display:   flex;
    justify-content: center;
    align-content:   center;
    align-items:     center;

  --background-color: black;
  --clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 100%, 0% 0%);
    clip-path: var(--clip-path);
    cursor:    pointer;
    background-color: var(--background-color);

    transition: clip-path 240ms var(--timing-function--focusZoom);
}
.nav-fly:hover {
  --clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%, 0% 100%);
  --background-color: firebrick;
}
.has-offsidebar-overlay .nav-fly { opacity: 0; }


/* sidebar menu list */

.content-menu {
    margin:  0 calc( (-1) * var(--col-space) );
    padding: 0;
    list-style: none;
}
.content-menu>li>* {
    display: block;
    padding: 0.5rem var(--col-space);
    text-decoration: none;
}
.content-menu>li>*:hover {
    background-color: hsla(0,0%,0%,0.25);
}

