<!-- ------------------------------ Default Bar -->

<section class="offsidebar from-eastside EastsideBar">
    <!-- <div class="offsidebar-overlay"></div>    <!-- auto insertion with js -->
    <!-- <div class="offsidebar-background"></div> <!-- auto insertion with js -->
    <div class="sidepanel">

        <header class="sidepanel-header">
            <h2>Eastside Bar</h2>
        </header>

        <nav class="sidepanel-content">
            <ul>
                <li>Lorem ipsum</li>
                <li>Pellentesque habitant</li>
                <li>Morbi tristique senectus</li>
                <li>Et netus et malesuada</li>
                <li>Fames ac turpis egestas</li>
                <li>Vestibulum tortor quam</li>
                <li>Feugiat vitae</li>
                <li>Ultricies eget</li>
                <li>Tempor sit amet</li>
            </ul>
        </nav>

        <footer class="sidepanel-footer">
            <p>Footer</p>
        </footer>

    </div>
</section>

<!-- ------------------------------ Westside Bar -->

<section class="offsidebar from-westside WestsideBar">
    <div class="sidepanel">

        <header class="sidepanel-header">
            <h2>Westside Bar</h2>
        </header>

        <nav class="sidepanel-content">
            
        </nav>

        <footer class="sidepanel-footer">
            
        </footer>

    </div>
</section>

<!-- ------------------------------ Bartender -->

<button class="js-for-EastsideBar">Eastside Bar</button>
<button class="js-for-WestsideBar">Eastside Bar</button>

<!-- ------------------------------ JS-operator -->

<script src="interface-offsidebar.js"></script>
<script>
    InterfaceOffsideBar('EastsideBar')
    InterfaceOffsideBar('WestsideBar')
</script>
