/* offsidebar
 * ideal
 */


/* -------------------------------- layout & behavior */

.offsidebar {

  --z-index: 100;
  --left:    auto;
  --right:   0;
  --transform-origin--horizontal: right;

    position:   fixed;
    z-index:    var(--z-index);
    max-width:  calc(100% - 3rem);
    top:        0;
    bottom:     0;
    right:      var(--right);
    left:       var(--left);

    /* default inactive state */
    pointer-events: none;
}

.offsidebar-background {
    position:  absolute;
    z-index:  -1;
    top:       0;
    right:     0;
    width:  100%;
    height: 100%;

    /* default inactive state */
    background-color: var(--background-color);
    transform: scaleX(0);
}

.offsidebar-overlay {
    position:  fixed;
    z-index:  -2;
    top:       0;
    bottom:    0;
    left:      0;
    right:     0;

    /* default inactive state */
    background-color: hsla(0, 0%, 0%, 0.9);
    opacity: 0;
}

/* html anti-scroll marker */
.has-offsidebar-overlay {
    overflow: hidden;
}

.sidepanel {
    max-width:  100%;
    height:     100%;
    overflow-x: visible;
    overflow-y: scroll;

    display:         flex;
    flex-direction:  column;
    justify-content: flex-start;
    align-content:   stretch;

    color:  var(--color);

    /* default inactive state */
    opacity: 0;
}

.sidepanel-content,
.sidepanel-header,
.sidepanel-footer {
    /* default inactive state */
    opacity: 0;
}

.sidepanel-header {
    margin-top:    0;
    margin-bottom: 0;
    position: sticky;
    top:      0;
}

.sidepanel-footer {
    margin-top: auto;
    margin-bottom: 0;
    position: sticky;
    bottom:   0;
}


/* -------------------------------- active state */


.offsidebar.is-active {
    pointer-events: all;
}
.offsidebar.is-active .offsidebar-background {
    transform: scaleX(1);
}
.offsidebar.is-active .offsidebar-overlay {
    opacity: 1;
}

.offsidebar.is-active .sidepanel,
.offsidebar.is-active .sidepanel-content,
.offsidebar.is-active .sidepanel-header,
.offsidebar.is-active .sidepanel-footer {
    opacity: 1;
}


/* -------------------------------- animation settings */


@media screen and (min-width:800px) {
    .offsidebar-background {
        will-change: transform;
    }
    .offsidebar.is-active .offsidebar-background {
        transition:  transform 240ms;
        transition-timing-function: var(--timing-function--focusZoom);
        transform-origin: var(--transform-origin--horizontal) center;
    }
    .offsidebar.is-active .sidepanel-content,
    .offsidebar.is-active .sidepanel-header,
    .offsidebar.is-active .sidepanel-footer {
        will-change: opacity;
    }
    .offsidebar.is-active .sidepanel-content,
    .offsidebar.is-active .sidepanel-header,
    .offsidebar.is-active .sidepanel-footer {
        transition:  opacity 120ms;
        transition-delay:    240ms;
        transition-timing-function: var(--timing-function--focusZoom);
    }
}


/* -------------------------------- content design */


.sidepanel-content {
    padding: 1rem;
}
.sidepanel-header,
.sidepanel-footer {
    padding: 0.5rem 1rem;
    background-color: var(--background-color--mark);
    color: var(--color--mark);
}


/*  EOF offsidebar */
