/*  offsidebar - expandable side menu panel
 *  v2019.7.23
 */


/* -------------------------------- default base settings */


:root {
  --background-color:           white;
  --color:                      black;
  --secondary-color:            firebrick;
  --secondary-background-color: lightgray;

  --row-space:       1rem;
  --col-space:    1.25rem;
  --z-index--sidebar: 100;
  --direction:        ltr;
}


/* -------------------------------- offsidebar settings */


.offsidebar {
 /* bar is never full width, minimal gap  */
  --empty-space-offset:  3em;

 /* open animation time  */
  --transition-duration--slidein: 240ms;
}


/* -------------------------------- two sides difference */


.offsidebar {       /* default, from-eastside */
  --left:  auto;
  --right: 0;
  --close-icon-right:              100%;
  --transform-origin--horizontal: right;
  --scroll-overflow-behavoir:    scroll;
  --scroll-direction:               ltr;
}


.offsidebar.from-westside {  /* from-westside */
  --left:  0;
  --right: auto;
  --close-icon-right:  calc( -1 * var(--empty-space-offset) );
  --transform-origin--horizontal: left;
  --scroll-overflow-behavoir:     auto;
  --scroll-direction:              rtl;
}


/* -------------------------------- layout & behavior */


.offsidebar {

    position:   fixed;
    z-index:    var(--z-index--sidebar);
    max-width:  calc( 100% - var(--empty-space-offset) );
    top:        0;
    bottom:     0;
    right:      var(--right);
    left:       var(--left);

    /* default inactive state */
    pointer-events: none;
}

.offsidebar-background {
    position:  absolute;
    z-index:  -1;
    top:       0;
    right:     0;
    width:  100%;
    height: 100%;

    /* default inactive state */
    background-color: var(--background-color);
    transform: scaleX(0);
}

.offsidebar-overlay {
    position:  fixed;
    z-index:  -2;
    top:       0;
    bottom:    0;
    left:      0;
    right:     0;

    /* default inactive state */
    background-color: hsla(0, 0%, 0%, 0.9);
    opacity: 0;
}

/* close icon */

.offsidebar-background::before {
    content:  '';
    display:  block;
    position: absolute;
    top:      0;
    right:    var(--close-icon-right);
    width:    var(--empty-space-offset);
    height:   var(--empty-space-offset);

    /* click on overlay will force offsidebar to close */
    pointer-events:   none;

    /* x-close white svg icon */
    background-image:  url('data:image/svg+xml,%3Csvg fill="%23FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/%3E%3C/svg%3E');
    background-size:   contain;
    background-repeat: no-repeat;
}


/* -------------------------------- content layout */


.sidepanel {
    position:   relative;
    max-width:  100%;
    height:     100%;
    overflow-x: visible;
    overflow-y: var(--scroll-overflow-behavoir);
    direction:  var(--scroll-direction);

    display:         flex;
    flex-direction:  column;
    justify-content: flex-start;
    align-content:   stretch;

    color:  var(--color);
}
.sidepanel>*{
    direction: var(--direction);
}
.sidepanel-header {
    margin-top:    0;
    margin-bottom: 0;
    position: sticky;
    top:      0;
    z-index:  1;
}
.sidepanel-footer {
    margin-top: auto;
    margin-bottom: 0;
    position: sticky;
    bottom:   0;
    z-index:  1;
}

/* default inactive state */

.sidepanel {
    opacity:   0;
}
.offsidebar .sidepanel-content,
.offsidebar .sidepanel-header,
.offsidebar .sidepanel-footer {
    transform: scaleX(0);
    opacity:   0;
}


/* -------------------------------- content design */


.sidepanel-content {
    padding: var(--row-space) var(--col-space);
}

.sidepanel-header {
    min-height: var(--empty-space-offset);
    padding:    0.25em var(--col-space);

    display:  flex;
    flex-direction:  column;
    justify-content: center;
    align-content:  stretch;
    align-items:    stretch;


    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
}

.sidepanel-footer {
    padding: 0.25em var(--col-space);
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
}


/* -------------------------------- disable background scroll */


/*html*/.has-offsidebar-overlay {
    overflow: hidden;
}


/* -------------------------------- active state */


.offsidebar.is-active {
    pointer-events: all;
}
.offsidebar.is-active .offsidebar-background {
    transform: scaleX(1);
}
.offsidebar.is-active .offsidebar-overlay {
    opacity: 1;
}

.offsidebar.is-active .sidepanel {
    opacity:   1;
}
.offsidebar.is-active .sidepanel-content,
.offsidebar.is-active .sidepanel-header,
.offsidebar.is-active .sidepanel-footer {
    transform: scaleX(1);
    opacity: 1;
}


/* -------------------------------- animation settings */


@media screen and (min-width:900px) {

    /* animate overlay */

    .offsidebar .offsidebar-overlay {
        transition:  opacity var(--transition-duration--slidein);
        transition-timing-function: var(--timing-function--focusZoom);
    }

    /* animate offsidebar */

    .offsidebar-background {
        will-change: transform;
    }
    .offsidebar.is-active .offsidebar-background {
        transition:  transform var(--transition-duration--slidein);
        transition-timing-function: var(--timing-function--focusZoom);
        transform-origin: var(--transform-origin--horizontal) center;
        transition-delay: 50ms;
    }

    /* animate content */

    .offsidebar .sidepanel-content,
    .offsidebar .sidepanel-header,
    .offsidebar .sidepanel-footer {
        will-change: transform;
    }
    .offsidebar.is-active .sidepanel-content,
    .offsidebar.is-active .sidepanel-header,
    .offsidebar.is-active .sidepanel-footer {
        transition:  transform var(--transition-duration--slidein);
        transition-timing-function: var(--timing-function--focusZoom);
        transform-origin: var(--transform-origin--horizontal) center;
        transition-delay: 50ms;
    }
}


/*  EOF offsidebar */
